body.open {
  overflow: hidden;
}

/* ----------------------------------------------------------   
   .header-form
   ---------------------------------------------------------- */
.header-form {
  width: 550px;
  padding: 45px 40px;
  background: #fafbfc !important;
  border-radius: 12px;
}

.cl-group {
  padding: 0;
  margin: 0; 
  list-style: none;
}
.cl-group:after {
  display: table;
  clear: both; 
  content: "";
}
.cl-group li {
  position: relative;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 30; 
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0.37rem 1.25rem;
  font-weight: 600;
  color: #b5a8c5;
  text-align: center;
  cursor: pointer;
  background: #fafbfc;
  background-color: transparent;
  border-width: 2px;
}
.cl-group li a {
  display: block;
  width: 100%;
  padding: 15px;
  font-family: "Roboto Condensed", sans-serif;
  color: #003c68;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px; 
  cursor: pointer;
  transition: .5s ease;
}
.cl-group li a span {
  font-size: 17px;
  font-weight: 700;
}
.cl-group li a span:first-child {
  margin-right: 9px;
  font-weight: 500;
}
.cl-group li.active {
  background: #ffffff;
  border-top: 1px solid rgba(93, 93, 93, 0.3);
  border-right: 1px solid rgba(93, 93, 93, 0.3);
  border-left: 1px solid rgba(93, 93, 93, 0.3);
}
.cl-group li.active:after {
  background-color: #ffffff;
}
.cl-group li.active a {
  color: #004ea1;
}

.form-content > div:last-child {
  display: none;
}

.form-content {
  margin-bottom: 25px;
}
.form-content .lead {
  margin: 0 0 25px; 
  color: #5d5d5d;
}
.form-content label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #5d5d5d;
  letter-spacing: 0.3px;
}
.form-content .user-input {
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 0 30px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  color: #5d5d5d;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid rgba(93, 93, 93, 0.3);

  -moz-appearance: none;
  appearance: none;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form-content .sign-in-btn {
  width: 80%;
  height: 46px;
  margin: 12px 10% 0;
  font-family: "Roboto Condensed", sans-serif; 
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.7px;
  background: #eaad03;
  border: none;
  box-shadow: 0px 0px 5px 3px #dfdfdf;
}

.header-form .note {
  font-size: 12px;
  color: #5d5d5d;
  letter-spacing: 0;
}
.header-form .note + .note {
  margin: 8px 0 0;
}
.header-form .note a {
  color: #004ea1;
  text-decoration: underline;
}
.header-form .note a:hover {
  text-decoration: none;
}

.form-content-inner {
  padding: 30px 55px 50px; 
  background: #ffffff;
  border: 1px solid rgba(93, 93, 93, 0.3);
}

@media (max-width: 700px) {
  .form-content-inner {
    padding: 25px 25px 50px;
  }
  .form-content .sign-in-btn {
    width: 70%; 
    margin: 10px 15% 0;
  }
  .form-content .lead {
    margin: 0 0 18px;
  }
  .form-content .user-input {
    margin: 0 0 20px;
  }
  .cl-group li a {
    padding: 14px 10px 8px;
  }
  .cl-group li a span {
    font-size: 17px;
  }
  .cl-group li a span:first-child {
    margin-right: 6px;
  }
}

@media (max-width: 500px) {
  .form-content-inner {
    padding: 20px 20px 32px;
  }
  .form-content {
    margin-bottom: 15px;
  }
}

/* ----------------------------------------------------------   
   .header-search-pop
   ---------------------------------------------------------- */
.header-search-pop {
  width: 550px;
  padding: 45px 55px !important;
  background: #fafbfc !important;
  border-radius: 12px;
}
.header-search-pop .ttl {
  margin: 0 0 5px; 
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  line-height: 1.5;
  color: #004ea1;
  text-align: center;
}
.header-search-pop .lead {
  margin: 0 0 40px;
  color: #5d5d5d;
  text-align: center;
}
.header-search-pop .serch-btn {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 40px auto 0; 
  text-align: center;
  background: #004ea1;
}
.header-search-pop .serch-btn button {
  display: table-cell;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif; 
  letter-spacing: 0.7px;
  background: #004ea1;
  border-bottom: 4px solid #b0bdc6;
}
.header-search-pop .serch-btn span {
  position: relative; 
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.header-search-pop .serch-btn span.ico-glass {
  position: absolute;
  top: 50%;
  right: 8%;
  margin-top: -11px; 
  font-size: 18px;
}

.search-list {
  padding: 0 0 5px 0;
  margin: 0 -14px 0;
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #004ea1;
}
.search-list li {
  position: relative;
  float: left;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border-right: 14px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 14px solid transparent;
}
.search-list li span {
  display: block;
  padding: 0 0 0 32px;
  padding-right: 8px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  color: #5d5d5d;
  text-align: left;
  letter-spacing: 0.5px;
}
.search-list li span.icon-model {
  padding: 0 0 0 34px;
}
.search-list li span:before {
  position: absolute;
  top: 0;
  left: 4px;
  margin-top: 0px;
  font-family: "icomoon" !important; 
  font-size: 16px;
}
.search-list li form {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px 0 0;
  background: #ffffff; 
  border: 1px solid rgba(93, 93, 93, 0.2);
}
.search-list li form:after {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  padding: 0;
  margin-top: -2px;
  pointer-events: none; 
  content: "";
  border-top: 6px solid #004ea1;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.search-list li select {
  width: 100%;
  -webkit-appearance: none;
  padding: 10px 20px 10px 15px;
  padding-right: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4d4d4d;
  text-align: center; 
  text-indent: 0.01px;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
  cursor: pointer;
  background: transparent;
  background-image: none;
  border: none;
  outline: none;
  box-shadow: none;

  appearance: none;
}

/* ----------------------------------------------------------   
   .language-select
   ---------------------------------------------------------- */
.language-select {
  width: 320px;
  box-sizing: border-box;
  padding: 35px 30px !important;
  background: #fafbfc !important;
  border-radius: 12px;
}
.language-select li {
  position: relative;
  width: 100%; 
  padding: 16px 0 17px 10px;
}
.language-select li label {
  padding: 14px 50px 14px 9px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #5d5d5d;
  letter-spacing: 0.3px;
}
.language-select li input {
  position: relative;
  top: -1px;
}
.language-select li:before {
  position: absolute;
  bottom: 0;
  left: 11%;
  display: block;
  width: 82%;
  height: 1px;
  line-height: 1; 
  content: "";
  background: rgba(93, 93, 93, 0.3);
}
.language-select li:hover:after {
  position: absolute;
  top: 50%;
  left: 3px;
  z-index: 0; 
  display: block !important;
  width: 90%;
  height: 38px;
  margin-top: -19px;
  content: "";
  background: #004ea1;
  border-radius: 4px;
}
.language-select li:hover label {
  position: relative;
  z-index: 1; 
  color: #ffffff;
}
.language-select li:hover input {
  position: relative;
  z-index: 1;
}
.language-select li:last-child:after {
  display: none;
}
