html{height:100%;}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box;
}
*:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{margin:30px 0 0px;position:relative;}
.col-left{
    width:100%;
    max-width:210px;
    margin-right:3%;
    float: left;
}
.col-left .search{
    width: 100%;
    margin-bottom:15px;
    position: relative;
}
.col-left .search input{
    border:1px solid #004ea1;
    padding:11px 15px;
    border-radius:20px;
    width:100%;
}
.search input::placeholder,.form-control::placeholder,.long::placeholder{color:#5d5d5d;font-family: "Montserrat", sans-serif;font-weight:500}
.search input::-webkit-input-placeholder{color:#5d5d5d;font-family: "Montserrat", sans-serif;font-weight:500}
.col-left .search button{
    border-radius:100%;
    width:40px;
    height:40px;
    background:#004ea1;
    position: absolute;
    right:0;
    top:0;
    color:#fff;
}
.col-left .search button img{width:16px!important;display:unset;}
#breadcrumbs{
    margin:20px 0;
    font-size:12px;
    color:#004ea1;
    font-weight:600;
    padding-left: 15px;
}
#breadcrumbs a{
    color:#5d5d5d;
    font-weight:600;
}
#breadcrumbs span{font-weight:600;}
#breadcrumbs span a::after {
    content:"/";
    color:#5d5d5d;
    padding:0px 5px 0px 7px;
}
.box_menu{
    background:#efefef;
    border-radius: 15px;
    padding: 15px;
}
.a_menu{border-bottom: 1px solid #bebebe;padding-bottom: 10px;margin-bottom: 20px;}
.a_menu h3{
    color:#004ea1;
    font-weight: 600;
    font-style:italic;
    margin-bottom:5px;
    position: relative;
}
.a_menu h3:after {
    position: absolute;
    top: 50%;
    right:0px;
    width: 0;
    height: 0;
    padding: 0;
    margin-top: -2px;
    pointer-events: none;
    content: "";
    border-top: 5px solid #f9bd00;
    border-right:5px solid transparent;
    border-left: 5px solid transparent;
}
.a_menu ul{margin-left:15px;}
.a_menu ul li{padding:5px 0;position:relative;z-index:1;}
.a_menu ul li:hover:after{
    position:absolute;
    top:50%;
    left:-14px;
    z-index: 0;
    width: 107%;
    height: 30px;
    margin-top:-16px;
    content: "";
    background: #f9bd00;
    border-radius:20px;
}
.a_menu ul > li a{font-size:13px;font-weight:500;position: relative;z-index:1;}
.a_menu ul > li a:before {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 5px;
    height: 5px;
    content: "";
    background: #f9bd00;
    border-radius: 50%;
    transform: translateY(-50%);
}
.a_menu label{font-family: "Montserrat", sans-serif;font-weight:500;}
.m-checkbox ul{margin-left:0px;}
.m-checkbox ul > li:hover:after{
    background:none;
    z-index:auto;
    position: static;
}
.content{
    float:right;
    width:-webkit-calc(100% - 260px);
    width:-moz-calc(100% - 260px);
    width:calc(100% - 260px);
}
.content .headline .title{text-align:left;}
.product-list{margin:40px 0 0 0}
.product-list ul li{
   float: left;
   width: 22.7%;
   margin-right: 3%;
}
.product-list ul li{
    position: relative;
    z-index: 999;
    display: block;
    margin-bottom:30px;
}
.product-list ul li a:after{
    position:absolute;
    width:118%;
    height:110%;
    content:'';
    display:block;
    top:-20px;
    z-index:-1;
    left:-20px;
    transition:all 0.4s;
    background:rgba(247,247,247,0);
}
.product-list ul li a:hover:after{
    background:rgba(247,247,247,1);
}
.product-list ul li:nth-child(4n){margin-right:0;}
.product-list ul li figure{
    border:1px solid #b0bdc6;
    margin-bottom:15px;
}
.product-list ul li .detail{}
.name-p{
    font-size:14px;
    font-weight:600;
    color:#4f555b;
    font-family:'Oswald', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}
.quantity{
    font-size:12px;
    margin-top:10px;
    font-weight:500;
}
.p-amount{margin:8px 0 8px;}
.p-amount .price{float:right;color:#b12704;font-weight:600;letter-spacing:1px;}
.b-gray{
    font-weight:600;
    background:#b0bdc6;
    font-size:12px;
    color:#00385b;
    width:90px;
    text-align:center;
    padding:4px 0px;
    border-radius:15px;
    display:inline-block;
}
#pagination{text-align:center;margin-top:50px;}
#pagination ul li.active {
    background:#004ea1;
    padding:6px 14px;
    color:#fff;
}
#pagination ul li {
    display:inline-block;
    padding:6px 12px;
    background:#d4d4d4;
    width:auto;
    font-weight: 500;
    color:#004ea1;
    border-radius:5px;
    margin-right:5px;
}
.previous,.next{background:none!important;position:relative;}
.previous a {
    position: absolute;
    left: -10px;
    top: 0;
}
.next a {
    position:absolute;
    right:-10px;
    top:0;
}
.previous a img,.next a img{width:25px;}
.box-content{
    float:left;
    width:-webkit-calc(100% - 270px);
    width:-moz-calc(100% - 270px);
    width:calc(100% - 270px);
}
.title-cart{
    margin:15px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom:15px;
}
.title-cart ul{letter-spacing:-4em;}
.title-cart ul li{letter-spacing:0;text-align:center;}
.title-cart ul li .b-gray {
    padding: 7px 20px;
    width: auto;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size: 14px;
    border-radius: 20px;
}
.title-cart ul li:nth-child(1){display:inline-block;width:20%;text-align: left;}
.title-cart ul li:nth-child(2){
    display:inline-block;width:40%;
    text-align: left;
}
.title-cart ul li:nth-child(3){
    display:inline-block;width:10%;
}
.title-cart ul li:nth-child(4){
    display:inline-block;width:30%;
}
.txt-b1{font-size:16px;color:#004ea1;font-weight:600;}
.txt-b2{font-size:14px;color:#00385b;font-weight:600;}
.pic-product{}
.pic-product img{border:1px solid #c8c8c8;border-radius:5px;}
.list-cart{}
.list-cart li{padding:15px 15px;}
.list-cart li:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.c1{float:left;width:17%;}
.c2{float:right;width:80%;}
.pic-product{float:left;width:100%;}
.product-name{float:left;width:50%;position:relative;}
.product-name .name-p{min-height:135px;height:100%;}
.available span{font-size:11px;letter-spacing:1px;}
.available p{font-weight:600;color:#00920e;}
.available{
    position:absolute;
    display:block;
    bottom:0;
    left:0;
}
.amount{float:left;width:12%;text-align:center;}
.amount select{width:60%;}
.txt-red{
    color:#b12704!important;
    font-weight:600;
    letter-spacing:1px;
    font-size:14px;
}
.box-price{float:left;width:37%;padding-left:5%;}
.row{overflow:hidden;margin-bottom:5px;}
.row span{font-size: 12px;font-weight:600;}
.row span.import{float:left;}
.row span.tax{float:right;}
.bg-gray{background:#f7f7f7;}
.subtotal{float:right;margin:20px 0;text-align:right;width:100%;font-size:16px;}
.subtotal span{display:inline-block;font-weight:600;}
.subtotal p{display:inline-block;margin-left:3%;font-size:16px;}
.b-domestic{
    font-weight:600;
    background:#b0bdc6;
    font-size:14px;
    color:#00385b;
    padding:7px 20px;
    width: auto;
    box-shadow:2px 2px 8px #dfdfdf;
    font-size:14px;
    border-radius:20px;
    text-align:center;
    padding:7px 20px;
    border-radius:15px;
    display:inline-block;
    margin-right:40px;
}
.d1{margin-bottom:20px;}
.txt-delivery{
    font-size:16px;
    color:#004ea1;
    font-weight:600;
}
.box-select-delivery{border-bottom: 1px solid #d4d4d4;}
.select-delivery{}
.select-delivery ul li{width:31%;float:left;position:relative;margin-right:3%;}
.select-delivery ul li:nth-child(3n){margin-right:0%;}
.select-delivery ul li input[type=radio] {
    position: absolute;
    top:34px;
    z-index: 999;
    left: 20px;
}
.select-delivery ul li label{
    position:relative;
    display:block;
    padding:15px 0px 15px 55px;
    width:100%;
    border-radius:5px;
    background:#fff;
    border:1px solid #d4d4d4;
    margin:10px auto;
    z-index:9;
    cursor:pointer;
    -webkit-transition:all 0.25s linear;
    box-shadow:2px 2px 8px #dfdfdf;
}
.select-delivery ul li label p{font-weight:600;font-size:16px;}
.select-delivery ul li label span{display:block;margin-bottom:10px;}
.box-oversea{margin-top:50px;}
.col-right{
    width:100%;
    max-width:230px;
    float:right;
    will-change: min-height;
}
.p-shipping{
    border-radius:15px;
    background:#fff;
    box-shadow:2px 2px 10px #dfdfdf;
}
.total-domestic{
    border-radius:15px 15px 0 0;
    background:#edeeef;
    color:#4f555b;
}
.total-domestic figure{text-align:center;}
.total-domestic img{width:50px;display:inline-block;margin-top:-22px;}
.d2{padding:10px 15px;}
.d2 p{font-style:italic;font-size:14px;font-weight:600;}
.d2 .b-gray{margin-bottom:5px;box-shadow:2px 2px 8px #dfdfdf;}
.col-right ul.list-items{padding:0px 15px;}
.col-right .total{
    background:none;
    border-radius:0px 0px 15px 15px;
    padding:15px 15px;
    font-size:16px;
    color:#000;
}
.col-right .total p{font-weight:700;font-style:italic;font-size:14px;}
.total-oversea{
    background:#edeeef;
    color:#4f555b;
    padding-top:5px;
}
.b-payment{
    background:#eaad03;
    border-radius:0px 0px 15px 15px;
    padding:10px 15px;
    color:#fff;
    font-size:16px;
    font-weight:600;
    text-align:center;
}
.b-payment img{
    width:30px;
    display:inline-block;
    margin-left:10px;
}
.cart-total .total{background:none;color:#000;}
.cart-total .total p{font-weight:600;}
.cart-total .b-payment{
    border-radius:0;
    text-align:center;
    margin-bottom:10px;
}
.cart-total .d2{padding:0px;}
.box_recent_purchased{margin:50px 0;}
.topic{}
.topic p{
    margin:0 auto 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    font-weight:700;
    line-height:1.3;
    color:#00385b;
    letter-spacing: 1px;
    position:relative;
    padding-left:20px;
}
.topic p:before{
    width:8px;
    border-right:4px solid #f9bd00;
    height:35px;
    background:#004ea1;
    content:'';
    position:absolute;
    left: 0;   
}
.topic h2{
    margin:12px auto 0;
    color:#5d5d5d;
    font-size:16px;
    letter-spacing: 0.01em;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.list-recent{margin: 30px 0;}
.list-recent ul li figure img{
    border: 1px solid #b0bdc6;
    margin-bottom: 15px;
}
.list-recent ul li{
    float:left;
    /*width:17.5%;*/
    margin-bottom: 15px;
    /*margin-right:3%;*/
}
.list-recent ul li:nth-child(5n){margin-right:0%;}
.list-recent .line-btn{margin-top:15px;margin-bottom:15px;}
.b-cart{
    display:inline-block;
    text-align:center;
    padding:5px 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size:13px;
    font-weight:500;
    color:#ffffff;
    background:#eaad03;
    border:none;
    box-shadow:0px 0px 4px 2px #dfdfdf;
}
.b-cart img{width:20px;display:inline-block!important;}
.list-recent .b-gray {
    font-weight:600;
    background:#b0bdc6;
    font-size:10px;
    color:#00385b;
    width:70px;
    text-align:center;
    padding:4px 0px;
    border-radius:15px;
    display:inline-block;
}
.box_recent_view{margin-bottom:30px;}
.box-detail-product{margin:40px 0;}
.box-detail-product .left{width:45%;float:left;}
.box-detail-product .right{width:50%;float:right;}
.detail-product{}
.detail-product h1{
    font-size: 18px;
    font-weight: 600;
    color: #4f555b;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}
.detail-product .name-p{font-size:18px;}
.detail-product ul{margin:10px 0 10px 15px;}
.detail-product ul li{margin-bottom:7px;list-style:disc;}
.id{margin:15px 0;font-weight:500;}
.box-detail02{margin:15px 0 10px;}
.box-detail02 p.head{color:#004ea1;font-weight:600;font-size:15px;}
.box-detail02 p{font-weight:600;}
.price01{}
.price01 .b-gray {
    font-size:11px;
    width:auto;
    padding:3px 15px;
}
.price01 ul li{float:left;width:48%;}
.price01 ul li:first-child{
    border-right:1px solid #dfdfdf;
    margin-right:2%;
    padding-right:15px;
}
.amount01{margin:10px 0;}
.amount01 span{
    font-weight:500;
    float:left;
    width:40%;
    margin-right:2%;
    padding-top:5px;
}
.amount01 span select{width:58%;display:inline-block;}
.col-cart{float:right;}
.table-responsive {
    min-height:.01%;
    margin:0px auto 0px auto;
}
.table {
    width:100%;
    max-width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}
.table > tbody > tr:nth-child(1){
    border-top: 1px solid #aeaeae;
}
.table > tbody > tr > td:first-child{font-weight: 600;position: relative;padding-left:20px;}
.table > tbody > tr > td:first-child:before {
    position:absolute;
    left:5px;
    top:3px;
    bottom:1px;
    font-family:"icomoon";
    font-size:12px;
    font-weight: 600;
    color: #5d5d5d;
    content: "\e905";
    transform:rotate(-90deg);
}
.table > tbody > tr > td:first-child:after{
    position: absolute;
    right:15px;
    top:7px;
    font-size:12px;
    font-weight:600;
    color:#5d5d5d;
    content:":";
}
.table > tbody > tr > td {
    padding:7px 5px;
    color:#575756;
    font-size:13px;
    border-bottom:1px solid #aeaeae;
}
.product-information{margin:20px 0;}
.vdo{}
.videoWrapper {
    position: relative;
    padding-bottom:46.25%;
    padding-top:25px;
    height:0;
    margin:20px auto 0 auto;
    width:100%;
}
.videoWrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.box-about-product{}
.box-about-product h2{color:#004ea1;text-align:center;font-size:22px;font-weight:600;margin-bottom:25px;}
.pic-intro{width:60%;margin:auto;}
.pic-intro img{border:10px solid #004ea1;box-shadow:0px 0px 5px 3px #dfdfdf;}
.inner-about-product{margin:40px 0 0;}
.h-title{}
.h-title h3{
    color:#004ea1;
    font-size:18px;
    font-weight:700;
    margin-bottom:20px;
    border-bottom:5px solid #b0bdc6;
    padding-bottom:10px;
    position:relative;
}
.h-title h3:after{
    width:25%;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    background:#004ea1;
}
.h-title h3:before{
    width:7px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    background:#eaad03;
    z-index:9;
}
.txt-bule{
    color:#004ea1;
    font-weight:600;
    font-size:15px;
}
.inner-about-product img{margin:20px 0 25px 0; border-radius:15px;box-shadow:0px 0px 5px 3px #dfdfdf;}
.inner-about-product figure{width:70%;margin:auto;}
.inner-about-product p{margin-bottom:10px;}
.how-use{margin:30px 0 0;}
.how-use ul li{float:left;width:30%;margin-right:5%;margin-bottom:15px;}
.how-use ul li p{line-height:17px;margin-top:15px;}
.how-use ul li p span{font-weight:700;color:#004ea1;}
.how-use ul li:nth-child(3n){margin-right:0;}
.how-use ul li img{margin:0;}
.box-recent-items{margin:30px 0;}
.box-recent-items ul li{margin-bottom: 15px;}
.box-recent-items ul li:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.box-recent-items ul li figure{float:left;width:45%;}
.box-recent-items ul li figure img{border:1px solid #d4d4d4;}
.box-recent-items h3 {
    color:#004ea1;
    font-size:14px;
    border-bottom:1px solid #d4d4d4;
    font-weight:600;
    margin-bottom:20px;
    padding-bottom:10px;
    position:relative;
}
.box-recent-items ul li p{float:right;width:50%;}
.box-recent-items ul li p.name-p{font-size:12px;}
.product-cart-list{
    border-radius: 15px;
    background: #edeeef;
    color: #4f555b;
    width:230px;
}
.product-cart-list p.name-p{padding:15px;background:#edeeef;border-radius: 15px 15px 0 0;}
.product-cart-list .p-amount{padding: 0px 10px 0 10px;margin: 0;}
.product-cart-list .b-gray{
    margin-bottom: 5px;
    box-shadow: 2px 2px 8px #dfdfdf;
}
.product-cart-list .line-btn {
    background:#edeeef;
    margin:0px;
    padding:15px 0;
}
.price-shipping{background:#fff;padding:15px 0 10px;}
.price-shipping ul.list-items li:last-child{border-bottom:none;}
.title-page{border-bottom: 1px solid #d4d4d4;padding-bottom:20px;}
.container-page {
    margin:60px 0 60px;
}
.txt-green{
    color:#007f33;
    font-weight: 600;
    font-size: 15px;
}
.box-shop-admin{margin:40px 0 30px;}
.b-yellow{
    display:inline-block;
    padding:10px 30px;
    color:#00385b;
    background:#f8bc00;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size:15px;
    border-radius:30px;
    font-weight:700;
}
.box-shop-admin ul{margin-top:60px;}
.box-shop-admin ul li{
    position: relative;
    float: left;
    width:23%;
    height:150px;
    padding:20px 12px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #d4d4d4;
    margin: 10px auto;
    text-align: center;
    box-shadow: 2px 2px 8px #dfdfdf;
    margin-right:2%;
    transition:all 0.5s;
}
.box-shop-admin ul li a{display:block;}
.box-shop-admin ul li:hover{
    background:#f7f7f7;
}
.box-shop-admin ul li:last-child{margin-right:0;}
.box-shop-admin ul li figure{
    position: absolute;
    text-align: center;
    width:100%;
    top:-25px;
    left:0;
}
.box-shop-admin ul li figure img{width:50px;}
.box-shop-admin ul li p.title{
    font-size:16px;
    margin: 20px 0 5px 0;
    font-weight: 600;
    color:#00385b;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.box-shop-admin ul li p{font-weight:500;line-height:22px;}
.box-question{margin:50px 0;}
.inner-q{margin:40px 0 0 0}
.col{width:22%;float:left;margin-right: 3%;margin-bottom: 15px;}
.col:nth-child(4n){margin-right:0%;}
.col h3{
    margin: 0 auto 20px auto;
    font-size:16px;
    font-weight:700;
    line-height: 1.3;
    font-style: italic;
    color: #004ea1;
    letter-spacing: 1px;
    position: relative;
}
.col h3:after {
    content: "";
    display: block;
    height: 5px;
    width:30px;
    border-bottom: 3px solid #f4b800;
    margin: 5px 0 10px 0;
}
.col ul li{
    position: relative;
    margin-bottom:10px;
}
.col ul{margin-left: 15px;}
.col ul > li a:before {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 5px;
    height: 5px;
    content: "";
    background: #f9bd00;
    border-radius: 50%;
    transform: translateY(-50%);
}
.layout-contain{margin-top:50px;}
.box-progress{
    margin:50px 0 60px;
    display: table;
    width: 100%;
    position: relative;
}
.progress-row:before {
    top:20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #004ea1;
    z-order: 0;
}
.progress-row{
    display: table-row;
}
.progress-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle{
    background:#fff;
    position:relative;
    width:40px;
    height:40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    border: 1px solid #004e9f;
}
.btn-circle:after {
    content: ' ';
    width: 28px;
    height: 28px;
    background: #808080;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.c-blue:after{
    content: ' ';
    width: 28px;
    height: 28px;
    background: #004ea1;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.progress-step p {
    margin-top:10px;
    color: #4f555b;
    font-family:'Oswald', sans-serif;
}
.step-active{}
.step-active:after{background:#fcc21d;}
.step-active:before {
    content: ' ';
    background:url(../images/icon-check-blue.png);
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    z-index: 9;
    left: 10px;
    top: 10px;
    background-size: contain;
}
.step-complete{}
.step-complete:after{background:#004ea1;}
.step-complete:before {
    content: ' ';
    background: url(../images/icon-check.png);
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    z-index: 9;
    left: 10px;
    top: 10px;
    background-size: contain;
}
.box-shipping-address{margin:50px 0;}
.box-shipping-address .left{display: inline-block;width: 50%;}
.box-shipping-address .right{
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align:top;
}
.box-shipping-address .left h3{
    font-weight:600;
    font-size: 16px;
    margin-bottom:10px;
}
.box-shipping-address .right .row{margin-bottom: 15px;overflow: inherit;}
.b-blue{
    display:inline-block;
    padding:8px 28px;
    color: #fff;
    background: #004e9f;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size: 15px;
    border-radius: 30px;
    font-weight:500;
}
.btn-gray{
    display:inline-block;
    padding: 8px 20px;
    color:#fff;
    background:#89949a;
    box-shadow:2px 2px 8px #dfdfdf;
    font-size:15px;
    border-radius: 30px;
    font-weight:500;
}
.box-shipping-address .btn-gray,.box-shipping-address .b-blue{width: 205px;padding:8px 0;text-align:center;}
.topic p span{
    color:rgb(255, 0, 0);
    font-size:12px;
    font-family:"Montserrat", sans-serif;
}
.box_form{}
.form-control{
    display: block;
    margin-bottom: 5px;
    width:100%;
    padding:12px 12px 12px 15px;
    font-size:12px;
    line-height:1.42857143;
    color: #000;
    border-radius:10px;
    border: 1px solid #e9ebee;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.r-inline {
    margin-bottom:15px;
}
.label {
    width:20%;
    display: inline-block;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:15px;
    vertical-align:top;
}
.label img{width:15px;margin-right:10px;}
.label i{margin-right:8px;}
.f500{font-weight: 500!important;}
.r-input{
    width:79%;
    display:inline-block;
}
.r-input select {
    height: 45px;
}
.box-inner{width:75%;margin:30px 0 40px;}
.confirm{margin-bottom:15px;}
.box_complete{margin:40px 0;}
.box_complete .left{width: 20%;float:left;text-align:center;}
.box_complete .left img{width:160px;}
.box_complete .right{width:75%;float:right;}
.box_complete .right h2{
    margin: 0 0 15px;
    font-size:16px;
    font-weight:700;
    line-height: 1.7;
    letter-spacing: 0.4px;
}
.row-btn{text-align: center;margin:30px 0;}
.box-inner .r-input p{font-weight:700;color:#333333;}
.payment{margin:30px 0;}
.payment ul li{
    width:31.2%;
    float:left;
    position:relative;
    margin-right:3%;
}
.payment ul li label{
    position:relative;
    display:block;
    padding:15px 0px 15px 55px;
    width:100%;
    border-radius:5px;
    background:#fff;
    border:1px solid #d4d4d4;
    margin:10px auto;
    z-index:9;
    cursor:pointer;
    -webkit-transition:all 0.25s linear;
    box-shadow:2px 2px 8px #dfdfdf;
}
.payment ul li label p{
    font-family:'Oswald', sans-serif;
    font-size:16px;
    margin-bottom:8px;
}
.payment ul li label p span img{
    width:70px;
    margin-left:5px;
}
.payment ul li input[type=radio]{
    position:absolute;
    top:34px;
    z-index:999;
    left:20px;
}
.payment ul li:nth-child(3n){margin-right:0%;}
.choose-discount{margin:60px 0 60px;}
.row-discount{margin:10px 0;}
.row-discount ul li{display:inline-block; position:relative;vertical-align:top;}
.row-discount ul li p{
    font-family:'Oswald', sans-serif;
    font-size:15px;
}
.row-discount ul li label {
    position:relative;
    display:block;
    padding:0px 0px 15px 40px;
    width:100%;
    background:#fff;
    z-index:9;
}
.row-discount ul li label span{font-size:11px;}
.row-discount ul li input[type=radio] {
    position: absolute;
    top:5px;
    z-index: 999;
    left:0px;
}
.choose-discount .topic{margin-bottom:50px;}
.row-discount ul li:nth-child(1){width:40%;margin-right:3%;}
.row-discount ul li:nth-child(2){width:40%;}
.row-discount ul li:nth-child(3){width:15%;text-align:right;}
.row-discount ul li .b-blue{padding:8px 35px;}
.total-price{border-bottom:1px solid #d2d2d2;}
.total-price .total{padding:10px 15px;}
.total-02{padding:10px 15px;color:#000;}
.total-02 p{
    font-weight:700;
    font-style:italic;
}
.total-02 span{
    display:block;
    text-align:right;
    font-size:16px;
    font-weight:700;
    margin-top:5px;
}
.box-detail-history{
    margin:45px 0;
    padding:35px 30px;
    border-radius:15px;
    position: relative;
    background:#fff;
    box-shadow:2px 2px 10px #dfdfdf;
}
.box-detail-history .left{float:left;width:55%;border-right:1px solid #d4d4d4;padding-right:15px;}
.col1{display:inline-block;width:40%;vertical-align:top;}
.col1 span{font-size: 12px;display:block;font-weight: 500;}
.col1 p,.col2 p{font-size:16px;font-size:16px;font-weight:700;margin-bottom:10px;}
.col2{display:inline-block;width:58%;}
.col2 span{font-weight: 500;}
.col2 .address{color:#5d5d5d;margin-top:10px;font-weight: 500;}
.box-detail-history .right{
    float:left;
    width:45%;
    padding-left:5%;
}
.box-detail-history .right .col1{display:inline-block;width:49%;}
.box-detail-history .right .col2{display:inline-block;width:49%;float:none;}
.status-delivery{margin:30px 0 0;}
.status-delivery h2{font-size: 17px;font-weight:700;margin-bottom:40px;border-bottom: 1px solid #d4d4d4;padding-bottom:15px;}
.status-delivery h2 span{font-size:17px;font-weight:700;color:#00920e;}
.status-delivery ul li{margin-bottom:15px;}
.status-delivery ul li figure{width:13%;float:left;border: 1px solid #d4d4d4;}
.status-delivery ul li .detail{width:83%;float:right;position: relative;}
.status-delivery ul li .name-p{
    min-height:50px;
    height: 100%;
}
.status-delivery ul li:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.status-delivery .c-left{width:70%;float:left;}
.status-delivery .c-right{width:30%;float:right;text-align:right;}
.status-delivery .c-right ul li{display:block;margin-bottom:15px;}
.status-delivery .c-right ul li .b-blue{
    width: 180px;
    padding: 8px 0px;
    text-align: center;
    font-size: 14px;
}
.amount-status{}
.amount-status span{display:block;font-weight:500;margin-bottom:2px;}
.box-claim-form{margin:60px 0;}
.box-claim-form ul{}
.box-claim-form ul li{position:relative;margin-bottom:15px;}
.head-bold{
    font-family:'Oswald', sans-serif;
    font-size: 15px;
    color:#4f555b;
}
.radio input[type=radio] {
    position: absolute;
    top: 5px;
    z-index: 999;
    left: 0px;
}
.detail-label {
    position:relative;
    display:block;
    padding:0px 0px 0px 40px;
    width:100%;
    background:#fff;
    z-index:9;
}
.w-30{width:30%;}
.box-wish{margin:30px 0 60px;}
.c-form input,.c-form textarea{display: inline-block;width:60%;margin-left:20px;}
.title-wish p {
    margin:0 auto 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    font-weight:700;
    line-height:1.3;
    color: #00385b;
    letter-spacing: 1px;
    position:relative;
    padding-left:20px;
}
.title-wish p:before {
    width: 8px;
    border-right: 4px solid #f9bd00;
    height: 35px;
    background: #004ea1;
    content: '';
    position: absolute;
    left: 0;
}
.title-wish{
    margin: 15px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
}
.title-wish ul li{}
.title-wish ul li:nth-child(1) {
    display: inline-block;
    width:42%;
    text-align: left;
}
.title-wish ul li:nth-child(2) {
    display: inline-block;
    width: 18%;
}
.title-wish ul li:nth-child(3) {
    display: inline-block;
    width:25%;
}
.title-wish ul li:nth-child(4) {
    display: inline-block;
    width: 10%;
}
.inner-p{}
.inner-p .txt-b2{display:none;}
.inner-p .txt-red{text-align:right;margin-bottom:5px;}
.inner-p .btn{text-align: center;margin-top: 25px;}
.box-wish .c1{width:12%;}
.box-wish .c2{width:85%;}
.box-wish .product-name{width:30%;}
.box-wish .amount{width:10%;}
.box-wish .product-name .name-p{min-height:121px;}
.box-wish .box-price{width:30%;padding:0px 2%;}
.box-type{width:30%;float: left;padding-left:2%;}
.b-delete{
    display:inline-block;
    text-align:center;
    padding:5px 20px;
    font-family:"Roboto Condensed", sans-serif;
    font-size:13px;
    font-weight:500;
    color:#ffffff;
    background:#b0bdc6;
    border:none;
    box-shadow:0px 0px 4px 2px #dfdfdf;
}
.b-delete img {
    width: 18px;
    display: inline-block;
}
.box-paragraph{}
.box-paragraph p{font-weight:600;}
.inline-radio{margin-bottom:25px;}
.inline-radio .left{float:left;width: 30%;}
.inline-radio .left label{font-weight:600;}
.box-success .left {
    width: 10%;
    float: left;
    text-align: center;
}
.box-success {
    margin:60px 0;
}
.box-success .right {
    width:85%;
    float:right;
}
.box-success .right h2 {
    margin:0 0 15px;
    font-size:16px;
    font-weight:700;
    line-height:1.7;
    letter-spacing:0.4px;
}
.bg{
    /*margin:0px;
    padding:20px 0;
    position:relative;
    background:url(../images/bg_polygon04.jpg) repeat-x center;*/
}
.row-button{
    text-align:left;
    margin-top:30px;
}
.line-checkbox{
    margin-top:30px;
    border-top:1px solid #d4d4d4;
    padding-top:20px;
    padding-left:20%;
}
.bar-mobile{
    background:#efefef;
    border-radius:10px;
    margin:0px 0 20px;
    padding:12px 18px;
    position:relative;
    /*display: none;*/
}
.m-inner{
    border-bottom:none;
    padding:2px 0px 2px 0px;
    font-weight:500;
    color:#00385b;
}
.m-inner h3{float:left;padding-top:3px;font-weight:600;font-size:13px;}
.m-inner .right{float:right;}
.m-inner .right a{
    border-radius:5px;
    background:#004ea1;
    display:inline-block;
    color:#fff;
    text-align: center;
    padding: 5px 10px;
    margin-left:3px;
    font-size:12px;
    font-weight:400;
    box-shadow: 2px 2px 8px #c8c8c8;
}
.line-p{text-align: center;display:none;margin-top:30px;}
.line-p a{color:#fff;}
.box_order_confirm{
    margin:40px 0 0; 
    display:none;
}
.box_order_confirm .total-domestic{border-radius:0px;}
.box_order_confirm .total{background:none;color:#000;}
.box_order_confirm .total p{font-weight:600;font-style: italic;}
.show_more,.show_less{
  display: block;
  text-align: center;
  width: 100%; 
  position: absolute;
  left:0;
}
.show_more span,.show_less span{font-weight:600;}
.top-banner{height:500px; position: relative;}
.b-about{
    background: url(../images/banner-about.jpg) center center;
    width: 100%;
    background-size: cover;
}
.caption-b {
    position: absolute;
    color: #fff;
    top: 50%;
    right:0%;
    text-align: right;
    transform: translate(-50%, -50%);
}
.head-banner{}
.caption-b p.head-banner {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    text-align:right;
    margin-top:0;
}
.caption-b h2{
    font-size: 25px;
    margin-bottom: 35px;
}
.caption-b h2:after{
    content:"";
    display:block;
    height:5px;
    width:50px;
    position: absolute;
    right: 0;
    border-bottom:3px solid #fff;
    margin:15px 0 0px 0px;
}
.box_section2{
    padding: 60px 0 150px;
    background:url(../images/bg-yellow.jpg)center bottom;
    width:100%;
    background-size:cover;
    text-align: center;
    position: relative;
}
.box_section2 h2,.box_section3 h2{font-size:22px;font-weight:600;color:#00385b;margin-bottom: 15px;}
.box_section2 p{font-weight:600;}
.box_section2 ul{margin:40px 0;}
.box_section2 ul li{
    width:23.5%;
    margin-right: 2%;
    float:left;
    margin-bottom:20px;
}
.box_section2 ul li img{border-radius: 10px;box-shadow: 2px 2px 10px rgba(0,0,0,0.3);}
.box_section2 ul li:nth-child(4n){margin-right: 0%;}
.car{
    position:absolute;
    right:10%;
    bottom: -15%;
    z-index: 99;
}
.car img{width:500px;}
.box_section3{
     padding:100px 0 40px;
    background:url(../images/bg-g.jpg)center top no-repeat;
    width:100%;
    background-size:cover;
    position: relative;
}
.box_section3 h2{text-align:center;margin: 50px 0 20px 0;}
.wrap{
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.b-service{margin: 40px 0;}
.b-service p{font-weight: 500;}
.b-service .left{width:40%;float: left;}
.b-service .right{width:55%;float:right;}
.b-service .right p{margin-bottom:10px;}
.b-service .right ul{margin: 10px 0;}
.b-service .right ul li{margin-bottom:5px;}
.box-product{color:#fff;}
.box-product .left{
    width:50%;
    height:618px;
    float: left;
    padding:80px 60px 60px 60px;
    background: url(../images/bg-blue.jpg) center;
    background-size: cover;
}
.box-product .topic p{color:#f5b900;}
.box-product .left .title{color:#f5b900;font-size: 20px;margin:30px 0 15px;font-weight: 600;}
.box-product .right{float:left;width:50%;}
.product-category{}
.grid {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
.product-category ul li:before{
    width: 0;
    height: 0;
    border-top:30px solid #f5b900;
    border-right:30px solid transparent;
    position: absolute;
    content: '';
    top:0;
    left:0;
    z-index: 99999;
}
.product-category ul li{
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 475px;
    height: 206px;
    width: 50%;
    background: #3085a3;
    cursor: pointer;
}
.product-category ul li:after{
    background: #0c395b; /* Old browsers */
    background: -moz-linear-gradient(top, #0c395b 0%, #000000 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0c395b 0%,#000000 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0c395b 0%,#000000 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c395b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width:100%;
    opacity: 0.8;
    height:100%;
    top:0;
    content:'';
    left:0;
    z-index: 99;
}
.product-category ul li figcaption{
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:url(../images/gridtile-20.png);
    transition:all 0.3s;
}
.product-category ul li:hover figcaption{
    background:rgba(245,185,0,0.8);
    width:100%;
    height: 100%;
}
.product-category ul li:hover h3,.product-category ul li:hover p{
   color:#000;
}
.product-category ul li h3{font-size:20px;font-weight: 700;color:#fff;font-style: italic;margin-bottom:10px;}
.product-category ul li h3:after{
    content: "";
    display: block;
    height: 5px;
    width: 40px;
    right: 0;
    border-bottom: 3px solid #f5b900;
    margin:5px 0 0px 0px;
}
.product-category ul li:hover h3:after{
    border-bottom: 3px solid #000;
}
.product-category ul li img{height:300px;}
.box-contact{}
.box-contact .left{
    width: 50%;
    float: left;
}
.box-contact{margin:60px 0;}
.box-contact .left h2{
    font-size:22px;
    font-weight: 700;
    color:#00385b;
    font-style: italic;
    margin-bottom:35px;
}
.box-contact .left h2:after {
    content: "";
    display: block;
    height: 5px;
    width: 40px;
    right: 0;
    border-bottom: 3px solid #f5b900;
    margin: 5px 0 0px 0px;
}
.box-contact .left p{
    background:#ececec;
    border-radius:10px;
    padding:15px;
    font-size:14px;
    font-weight:500;
}
.box-contact .right{
    float:right;
    width:45%;
}
.box-contact .right ul li{margin-bottom:15px;}
.box-contact .wrap{
    border-bottom:1px solid #edeeef;
    padding-bottom:20px;
}
.box-contact .right ul li figure{display:inline-block;margin-right:10px;vertical-align:top;width:30px;}
.box-contact .right ul li .detail{display:inline-block;width:84%;}
.box-contact .right ul li .detail p{font-weight:500;}
.box-contact .right ul li .detail p.title{font-size:16px;font-weight:700;color:#004ea1;}
.b-ppf{
    background:url(../images/banner-ppf.jpg) center center;
    width:100%;
    background-size:cover;
}
.inner-ppf{margin:50px 0 0 0}
.inner-ppf p{margin-bottom:10px;}
.box_about_ppf{
    padding: 120px 0 50px;
    background: url(../images/bg_polygon05.jpg)center bottom no-repeat;
    background-size: cover;
}
.box_about_ppf .topic{
    text-align:center;
    border-bottom:1px solid #d4d4d4;
    padding-bottom:10px;
}
.box_about_ppf p.title-page {
    border-bottom:none;
    padding-bottom: 0px;
    display: inline-block;
}
.box_about_ppf .topic p{text-align: center;}
.img-ppt {
    width:100%;
    position: relative;
    margin:20px 0;
}
.img-ppt figure {
    margin-left:10%;
    display:inline-block;
    width:50%;
}
.detail-img-ppt {
    /*display:inline-block;
    width:45%;*/
}
.inner-detail-img-ppt {
    position:absolute;
    left:10%;
    width:103%;
    top:0;
    height:100%;
}
.inner-img {
    position:absolute;
    width:100%;
    top:18%;
    left:36%;
}
.box-line {
    position: relative;
}
.line1 {
    width:20%;
    height:1px;
    background:#464646;
    display:inline-block;
}
.line-detail {
    display:inline-block;
    color:#000;
    font-weight:600;
}
.inner-img1 {
    position:absolute;
    width:40%;
    top:33%;
    left:36%;
}
.line1:before {
    width:5px;
    height:5px;
    border-radius:10px;
    background:#464646;
    content:" ";
    position:absolute;
    top:11px;
    left:-5px;
}
.inner-img1{
    position: absolute;
    width:100%;
    top:33%;
    left:36%;
}
.inner-img2 {
    position: absolute;
    width:100%;
    top:46%;
    left:40%;
}
.inner-img3 {
    position:absolute;
    width:100%;
    top:60%;
    left:43%;
}
.inner-img4 {
    position:absolute;
    width:100%;
    bottom:14%;
    left:33%;
}
.img-ppf {}
.img-ppf ul {
    width:52%;
    position: absolute;
    bottom: -70px;
    right:8%;
    text-align: center;
}
.img-ppf ul li{display:inline-block;width:30%;}
.type-car {
    margin-top: 50px;
    text-align: center;
}
.type-car ul li {
    display: inline-block;
    width:15%;
    margin-right:5%;
    text-align: center;
    vertical-align: top;
}
.type-car ul li p{font-weight:600;margin-top: 10px;}
.type-car ul li:last-child{margin-right:0;}
.w-search{margin:70px 0 50px;}
.serial input {
    height:50px;
    width:100%;
    border:0px;
    background:#fff;
    border:1px solid #004ea1;
    padding-left:40px;
}
.btn-serial{
    background:#004ea1;
    height:50px;
    padding:15px 10px;
    color:#fff;
    position:relative;
    display:inline-block;
    margin:0;
    top:0;
    right:0;
    position:absolute;
    width:120px;
    font-size:14px;
    font-weight:600;
    border-bottom:4px solid #b0bdc6;
}
.btn-serial i{padding-left: 10px;}
.serial{
    text-align: center;
    width: 40%;
    margin:60px auto 40px auto;
}
.serial form{position:relative;}
.box_vdo{
    padding:60px 0 50px;
    background:url(../images/bg-vdo.jpg)center top;
    background-repeat: repeat-x;
}
.topic2 p.title-page {
    border-bottom: none;
    padding-bottom: 0px;
    display: inline-block;
}
.topic2 {
    text-align:center;
    border-bottom:1px solid #d4d4d4;
    padding-bottom:10px;
    margin-bottom: 30px;
}
.topic2 p{
    margin:0 auto 15px auto;
    font-family:'Oswald', sans-serif;
    font-size: 22px;
    font-weight:700;
    line-height:1.3;
    color:#00385b;
    letter-spacing: 1px;
    position:relative;
    padding-left: 20px;
}
.topic2 p:before{
    width:8px;
    border-right:4px solid #f9bd00;
    height:35px;
    background:#004ea1;
    content:'';
    position:absolute;
    left:0;
}
.box_vdo .topic2 p{
    color:#f7bb00;
}
.vdo{width:90%;margin:30px auto;}
.box_how_ppf{padding:20px 0;}
.list-ppf{margin:50px 0;}
.list-ppf ul li{margin-bottom:50px;}
.list-ppf ul li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.img-vdo iframe {
    z-index: 3;
    position: relative;
    box-sizing: border-box;
}
.img-vdo{
    position: relative;
    width:35%;
    top: 0;
    left: 0px;
    height:205px;
    float: left;
    z-index: 2;
    overflow: visible;
    border-bottom:6px solid #004ea1;
    box-shadow:0px 0px 5px 3px #dfdfdf;
}
.img-vdo:after{
    width:30%;
    height:6px;
    content:'';
    background:#f9bd00;
    position:absolute;
    bottom:-6px;
    left: 0;
}
.list-ppf .detail{
    float:right;
    width:60%;
    border-bottom:1px dashed #d4d4d4;
    padding-bottom:60px;
}
.list-ppf .detail h3{
    color:#004ea1;
    font-size:18px;
    font-weight:700;
    padding-bottom:8px;
    margin-bottom:20px;
    position:relative;
    font-style:italic;
}
.list-ppf .detail h3:after {
    width:50px;
    height:5px;
    content: '';
    position:absolute;
    left:0;
    bottom:-5px;
    background:#f9bd00;
}
.box_about_ppf2{
    padding:60px 0 40px;
    background:#f7bb00;
}
.box-1{
    background:#fff;
    margin-top:60px;
    height: 310px;
}
.box-1 figure{width: 60%;float: left;position:relative;}
.box-1 figure img{margin-top: -20px;box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);border-bottom:10px solid #004ea1;}
.box-1 .detail{width:33%;float:right;margin:50px 30px 0 30px;border-bottom: 1px dashed #d4d4d4;padding-bottom:20px;}
.box-1 .detail h3,.inner-box h3{
    color: #004ea1;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 20px;
    position: relative;
}
.box-1 .detail h3:after,.inner-box h3:after{
    width:50px;
    height:5px;
    content: '';
    position: absolute;
    left:0;
    bottom:-5px;
    background: #f9bd00;
}
.box-2{background:#fff;margin: 50px 0;}
.box-2 .col-3{width:33.33%;float:left;}
.inner-box{margin:25px;padding-bottom:20px;position:relative;border-bottom: 1px dashed #d4d4d4;}
.box-2 img{height:311px;box-shadow:0px 0px 5px 3px rgba(0,0,0,0.2);}
.box_protection{
    padding:0px 0 100px;
    background: url(../images/bg-paint.jpg)center top;
    background-size: cover;
}
.box_protection .left{float:left;width:25%;}
.box_protection .left h2{font-size:35px;font-weight:900;font-style: italic;color:#004ea1;}
.box_protection .left h2 span{display: block;}
.box_protection .right{float:right;width:70%;}
.box-p{position:relative;margin-bottom:30px;}
.box-p .inner-box{border-bottom:none;}
.box-p figure {
    width:45%;
    float:left;
    position:absolute;
    top:40px;
    left:20px;
    z-index:9;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
}
.box-p .detail{float:right;width:55%;background:#fff;padding-left:20px;height: 280px;position: relative;}
.box-p .detail:after {
    content: '';
    height: 10px;
    border-bottom: 1px dashed #d4d4d4;
    position: absolute;
    bottom: 20px;
    width: 90%;
    right: 20px;
    left: 20px;
}
.box_adhesive{margin:110px 0 50px;}
.box_adhesive p{font-weight:500;color:#fff;}
.box_caution{
    padding: 80px 0 80px;
    background: url(../images/bg-caution.jpg)center top;
}
.box_caution .left{width:45%;float:left;color:#fff;}
.box_caution .left ul li{margin-bottom:5px;}
.inner-caution{margin:70px 0 0;line-height: 22px;}
.box_caution .right{width:50%;float:right;}
.b-sole-agent{
    background: url(../images/banner-sole-agent.jpg) center center;
    width: 100%;
    background-size: cover;
}
.b-sole-agent .caption-b h2{font-size:40px;color:#004ea1;font-weight:700;font-family:'Oswald', sans-serif;}
.b-sole-agent .caption-b h2:after {
    border-bottom: 3px solid #004ea1;
}
.b-sole-agent .caption-b p{color:#333333;font-weight:600;}
.box-sole{margin:60px 0;}
.page-agent{}
.page-agent .topic2 p{color:#004ea1;font-size: 24px;}
.page-agent .topic2 p:before,.page-network .topic2 p:before {display: none}
.box-benefits{}
.page-s-agent{
    padding:0px 0 50px;
    background:url(../images/bg_polygon05.png) center top no-repeat;
    background-size:contain;
}
.box-benefits ul{margin-top:60px;}
.box-benefits ul li {
    text-align:center;
    display: inline-block;
    width:30%;
    position: relative;
    margin:0 3% 40px 0px;
    vertical-align: top;
}
.box-benefits ul li:last-child{margin-right: 0;}
.box-benefits ul li figure {
    position: relative;
    text-align: center;
    margin: 0px auto 30px auto;
}
.box-benefits ul li figure img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border:5px solid #f9bd00;
}
.b-title{
    margin: 0 0 20px;
    font-family: 'Oswald', sans-serif;
    font-size:18px!important;
    font-weight: 700;
    line-height: 1.3;
    color: #00385b;
    letter-spacing: 1px;
    position: relative;
}
.b-title:after {
    content: "";
    display: block;
    height: 5px;
    width: 30px;
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 3px solid #f9bd00;
    margin: 5px auto 0px auto;
}
.box-benefits ul li p{font-size: 12px;}
.box-flow{margin: 40px 0}
.box-flow ul{margin-top:50px;}
.box-flow ul li{margin-bottom:35px;}
.box-flow ul li:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box-flow ul li figure{width:35%;float:left;}
.box-flow ul li .detail{width:60%;float:right;}
.box-flow ul li .detail p.step{font-size:22px;font-weight: 900;font-style: italic;color:#00385b;}
.box-flow ul li .detail h2{margin-bottom: 15px;font-size:20px;font-weight:600;color:#00385b;}
.box_apply{margin:0px 0 50px;}
.inner-apply{width:70%;margin:40px auto 0 auto}
.box-map{margin:30px 0;position: relative;}
.popup{
    position: absolute;
    background:#004ea1;
    width: 80%;
    max-width:340px;
    bottom:40px;
    left: 40px;
    padding:30px 30px;
    color:#fff;
}
.popup:after{
    content:'';
    width:7px;
    height:40px;
    background:#f9bd00;
    position:absolute;
    left:0;
    bottom:0;
}
.popup:before{
    content:'';
    background: url(../images/icon-close.png);
    width:28px;
    height:28px;
    position:absolute;
    background-size: contain;
    right:12px;
    top:12px;
}
.inner-popup h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.inner-popup p{font-size:12px;}
.inner-popup p.company-name{font-size:14px;}
.box-network{
    padding:50px 0 30px;
    background: url(../images/bg_polygon05.png) center top no-repeat;
    background-size: contain;
}
.box_location{margin:70px 0 0 0;border-bottom: 1px solid #d4d4d4;padding-bottom:40px;}
.box_location ul li{margin-bottom:50px;}
.box_location ul li:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box_location ul li figure{float:left;width: 30%;}
.box_location ul li figure img{border-radius: 15px;box-shadow: 2px 2px 10px rgba(0,0,0,0.4);}
.name-location{float:right;width:65%;}
.name-location .l-inner{float: left;}
.l-inner h3{
    font-size: 20px;
    font-weight:700;
    font-style:italic;
    color: #00385b;
    margin-bottom:5px;
}
.company-name{font-size:15px;font-weight: 600;}
.name-location .btn{
    float:right;
    padding-top:5%;
}
.b-map{
    display: inline-block;
    padding:10px 20px;
    color: #004ea1;
    background: #fff;
    border:1px solid #004ea1;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size: 15px;
    border-radius:10px;
    font-weight: 500;
}
.b-map:hover{background:#004e9f;color:#fff;}
.page-qa{
    padding:50px 0 0px;
    /*background: url(../images/bg_polygon05.png) center top no-repeat;
    background-size:cover;*/
}
.box-qa{padding: 0px 0;}
.title-detail{text-align: center;}
.box_category_qa{margin:70px 0 0 0;}
.box_category_qa ul li{
    float:left;
    width:22.55%;
    position:relative;
    margin-top: 25px;
    margin-bottom:45px;
    margin-right:3%;
    background:#004ea1;
    padding:15px 10px 20px 10px;
    text-align: center;
    color:#fff;
    border-radius:15px 15px 0 0;
    box-shadow:2px 2px 10px rgba(0,0,0,0.4);
    position:relative;
}
.box_category_qa ul li:nth-child(4n){margin-right:0;}
.box_category_qa ul li:after{
    content:'';
    width:6px;
    height:40px;
    background:#f9bd00;
    position:absolute;
    left:0;
    bottom:0;
}
.box_category_qa ul li p{line-height: 18px;}
.box_category_qa ul li figure{text-align:center;margin-bottom:8px;}
.box_category_qa .detail{}
.name-category{font-size: 18px; font-weight: 700;margin:15px 0 10px;}
.box_category_qa ul li figure img{width:80px;height:80px;border-radius:50%;margin-top:-56px;border:7px solid #f9bd00;}
.addtowishlist{
    margin:20px 0 15px;
    padding:10px 20px;
    background:#f4f4f4;
    text-align: center;
}
.wishlist{color:#f9bd00;font-weight:500;display:inline-block;}
.box-frequent{padding:50px 0;}
.col-4{float:left;width:22.55%;margin-right:3%;margin-bottom:25px;}
.col-4 h3{
    font-size:18px;
    font-weight:700;
    color:#004ea1;
    font-style:italic;
    margin-bottom:10px;
}
.col-4 h3:after {
    content:" ";
    display:block;
    height:5px;
    width:25px;
    right:0;
    border-bottom: 3px solid #f5b900;
    margin:5px 0 0px 0px;
}
.inner-frequent {
    margin-top: 40px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 40px;
}
.col-4 ul{margin-left:20px;margin-top:20px;}
.col-4 ul li{margin-bottom: 5px;position:relative;}
.col-4 ul li a:before {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    top: 7px;
    content: " ";
    background: #004ea1;
    border-radius: 50%;
    left:-18px;
}
.col-4:nth-child(4n){margin-right:0;}
.inner-qa{padding:40px 0;}
.page-qa .topic2 p:before{
   display:none;
}
.inner-qa .topic p{font-size:18px;margin-bottom:15px;}
.inner-qa .topic p:before{
    height: 24px;
}
.inner-qa .box_menu{background:none;padding:0;}
.inner-qa .a_menu{border:none;}
.inner-qa .a_menu ul > li a:before{
    background:#004ea1;
}
.inner-qa .a_menu ul li{margin-bottom:5px;}
.inner-qa .a_menu ul li:hover:after{background:none;}
.question-list{}
.question-list ul li{padding:40px 30px 30px;margin-bottom: 15px;}
.question-list ul li.active{background:#efefef;border-radius:15px;box-shadow: 2px 2px 10px rgba(0,0,0,0.1);}
.question-list ul li figure{display:inline-block;width:8%;vertical-align:top;}
.question-list ul li figure img{width:50px;}
.question-list ul li .detail{display:inline-block;width:90%;}
.question-list ul li .detail h3{color:#00385b;font-weight:600;font-size: 18px;margin-bottom:10px;}
.see-more{
    margin-top:15px;
    text-align:right;
    font-weight:600;
    color:#004ea1;
    font-style:italic;
}
.see-more  span{color:#f9bd00;}
.see-more a{font-weight:600;color:#004ea1;font-style:italic;}
.see-more a span{color:#f9bd00;}
.answer-list{}
.topic-qa{margin-bottom:20px;}
.topic-qa figure{display:inline-block;width:8%;vertical-align:top;}
.topic-qa figure img{width:50px;}
.topic-qa h3{display: inline-block;color:#00385b;font-weight:600;font-size:18px;margin-bottom:10px;}
.inner-answer{
    background: #efefef;
    border-radius:15px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.1);
    padding:30px 30px;
}
.vdo{}
#vdo{}
.youtube-vdo{
    position:relative;
    width:35%;
    top:0;
    left:0px;
    height:500px;
    float:left;
    z-index:2;
    overflow:visible;
    border-bottom:6px solid #004ea1;
    box-shadow:0px 0px 5px 3px #dfdfdf;
}
.page-news{width: 100%;max-width: 800px;margin:auto;margin-bottom: 50px;}
.none p.title-page:before{display:none;}
.page-news .news-content-list{max-width: inherit;}
#pagination {
    color: #fff;
    font-size: 14px;
}
#pagination ul li {
    display: inline-block;
    padding: 6px 14px;
    background: #d0d0d0;
    width: inherit;
    color: #fff;
    margin: 0px 1px;
}
#pagination ul li.active {
    background:#004ea1;
    color: #fff;
}
.date{display:block;}
.topic h2{
    margin: 0 auto 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    color: #00385b;
    letter-spacing: 1px;
    position: relative;
    padding-left: 0px;
    padding-bottom:20px;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.single-page{margin:50px auto 80px auto;max-width: 800px;width:100%;}
.single-page ul{margin:18px 0px 18px 30px;}
.single-page ul li{margin-bottom: 10px;}
.single-page ul li{list-style: disc;}
.single-page p{margin-bottom:10px;}
.single-page figure{margin:20px 0;}
.date{text-align:center;font-weight:500;margin-bottom:20px;}
.page-contact{width:100%;margin-top:50px;}
.page-contact .box-contact{margin:50px 0;}
.page-contact .box-contact .right{
    float:left;
    width:40%;
}
.page-contact .left{width:60%;float:right;border-left: 1px dotted #ededed;padding-left:40px;}
.c-gray{
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    background: #bfbfbf;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
    margin-right: 15px;
}
/*-----------------------@media----------------------------*/
@media(max-width:1440px){
    .img-ppf ul {
        width: 50%;
        bottom: -50px;
    }
    .caption-b{transform:translate(-10%, -50%);}
}
@media(max-width:1200px){
    .product-category ul li figcaption{padding:20px;}
    .box-product .left {padding:30px;}
    .wrap{padding:0px 15px;}
    .box-1 .detail {
        width: 35%;
        float: right;
        margin: 40px 2%;
        padding-bottom: 20px;
    }
    .box-1{height:296px;}
}
@media(min-width:991px) and (max-width:1200px){
    .product-list ul li{width:31%;}
    .product-list ul li:nth-child(n){margin-right:3%!important;}
    .product-list ul li:nth-child(3n){margin-right:0!important;}
    .price01 ul li {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .price01 ul li:first-child {
        border-right:none;
        border-bottom:1px solid #dfdfdf;
        margin-right:0%;
        padding-right:0px;
        padding-bottom:10px;
    }
}
@media(max-width:1024px){
    .box-inner{width:100%;}
    .box-1 figure{width:50%;}
    .box-1 .detail{width:45%;margin: 30px 2%;}
    .box-1{height: auto;}
    .box-1 figure img{margin:0;}
    .b-sole-agent {
        background: url(../images/banner-sole-agent.jpg) -400px top;
        background-size: cover;
    }
}
@media(max-width:990px){
    .box_protection .left{width: 100%;margin-bottom:30px;}
    .box_protection .left h2 span{display:inline-block;}
    .img-vdo {height:172px;}
    .box_about_ppf{padding-top:90px;}
    .img-ppf ul {width:80%;right:0;left:0; margin:auto;}
    #breadcrumbs{padding-left:0;}
    .box-product .left{width:100%;height:auto;padding:40px 20px;}
    .box-product .right,.box_protection .right{width:100%;}
    .product-category ul li img,.product-category ul li{height:auto;}
    .total-price .total,.box_order_confirm .total{padding:10px 0px;}
    .inner-p .txt-b2,.line-p,.box_order_confirm{display:block;}
    .inner-p{
        padding:10px 0 20px;
        border-bottom:1px solid #edeeef;
    }
    .box-wish .product-name .name-p {min-height: 66px;}
    .col-left{display:none;}
    .col-right .p-shipping,.title-wish ul li:nth-child(2),.title-wish ul li:nth-child(3),.title-wish ul li:nth-child(4){display:none;}
    .col-right{max-width:100%;}
    .content,.box-content,.title-wish ul li:nth-child(1){width:100%;}
    .container,.box-recent-items{margin-top:0px;}
    .box-shop-admin ul li {width:32%;margin-bottom:40px;}
    .box-shop-admin ul li:nth-child(3n){margin-right: 0;}
    .col:nth-child(n){margin-right:2%;}
    .col{width:31%;}
    .box-wish .product-name{width:100%;}
    .product-name .name-p{min-height:85px;}
    .box-wish .amount {
        width:250px;
        text-align: left;
        margin-top: 15px;
    }
    .box-wish .c1 {width:25%;}
    .box-wish .c2 {width:68%;}
    .box-wish .box-price {width:100%;padding: 0;}
    .box-type {width:100%;text-align:left;padding-left:0;}
    .box-type .right a {margin-right:10px;}
    .car{right:0%;bottom:-20%;}
    .img-ppt figure{margin-left:0;}
    .inner-detail-img-ppt{left:0;}
    .col-4{width:31.33%;}
    .col-4:nth-child(3n){margin-right: 0%;}
    .question-list ul li {padding:20px;}
    .question-list ul li figure{margin-right: 10px;}
    .question-list ul li .detail{width:86%;}
    .topic-qa h3 {width:87%;margin-left:10px;}
}
@media(max-width:812px){
    .question-list ul li figure img,.topic-qa figure img{width:100%;}
    .box_category_qa ul li {width:30%;}
    .box_category_qa ul li:nth-child(n){margin-right:3%;}
    .box-2 .col-3 {width:50%;}
    .box-2 img{height: auto;}
    .box-2 .col-3:last-child{width:100%;}
    .box-type .left,.box-type .right{width: auto;}
    .box-type .right a{width:auto;margin-right:0;}
    /*.list-recent ul li{width:31%;}*/
    .list-recent ul li:nth-child(3n){margin-right:0%;}
    .row-discount ul li:nth-child(1){width:100%;margin-bottom:5px;}
    .row-discount ul li:nth-child(2) {width:60%;margin: 0px 20px 0 38px;}
    .box-detail-history .right .col1{width:40%;}
    .caption-b {
        transform: translate(-50%, -50%);
        padding: 15px;
        left: 50%;
        text-align: center;
        right: inherit;
        width: 100%;
    }
    .caption-b p.head-banner{text-align: center;}
    .caption-b h2:after {
        position: relative;
        margin: 15px auto 0px auto;
    }
    .car{
        right: 0;
        left: 0;
        position: relative;
        width: 80%;
        text-align: center;
        bottom:20px;
        margin: auto;
    }
    .car img,.inner-apply{width:100%;}
    .box_section2 {padding-bottom:0;}
    .box_protection{padding-bottom:30px;}
    .b-sole-agent {
        background: url(../images/banner-sole-agent.jpg) 0px 0px;
    }
    .b-sole-agent .caption-b p,.b-sole-agent .caption-b h2{color:#fff;}
    .b-sole-agent .caption-b h2:after{border-bottom: 3px solid #fff;}
    .name-location .l-inner{width:100%;}
    .page-contact .box-contact .right{width:100%;margin-top: 0;}
    .page-contact .left{width: 100%;padding-left: 0px;margin-top: 20px;border-left:none;border-top: 1px dotted #ededed;padding-top:30px;}
    .name-location .btn{width:100%;padding-top:0px;}
    .box_location ul li figure img {border-radius: 5px;}
    
}
@media(max-width:768px){
    .box_about_ppf{padding-bottom:0;}
    .box_section3,.box_how_ppf{padding-top:50px;}
    .line-checkbox{padding-left:0;}
    .box_complete .left img{width:100%;}
    .product-list ul li{width:47%;margin-right:4%;}
    .product-list ul li:nth-child(2n), .select-delivery ul li:nth-child(2n){margin-right:0;}
    .select-delivery ul li{width:48%;}
    .box-detail-product .left,.box-detail-product .right,.box-detail-history .left{width:100%;}
    .box-detail-history .left{border-right:none;padding-bottom:20px;}
    .box-detail-history .right{
        width: 100%;
        padding-left:0px;
        padding-top: 20px;
        border-top: 1px solid #d4d4d4;
    }
    .box-detail-product .right{margin-top:30px;}
    .box-detail-history .right .c1{width: 35%;}
    .box-detail-history .right .c2{}
    .container{margin-bottom:50px;margin-top:10px;}
    .layout-contain{margin-top:10px;}
    #footer {background: #f7f7f7 url(../images/bg_polygon03.png) repeat-x center top;}
    .col{width:48%;}
    .r-input{width:69%;}
    .c1 {width:30%;}
    .c2{width:65%;}
    .box-price,.amount,.product-name,.box-shipping-address .left{width:100%;padding-left:0;}
    .amount{text-align:left;}
    .amount select{width:25%;}
    .inner-p .txt-red{text-align: left;}
    .inner-p .btn{text-align: left;margin-top:0;}
    .b-service .left,.b-service .right{width:100%;}
    .b-service .left figure{width:60%;margin:0 auto 20px auto;}
    .serial{width:100%;margin:40px 0 30px;}
}
@media(max-width:667px){
    .box-p figure {
        width: 100%;
        position:relative;
        top:0;
        left:0;
    }
    .box-p .detail{height: auto;padding-left:0;}
    .box_protection .left h2{font-size:25px;}
    .box_how_ppf {padding-bottom:0;}
    .box_about_ppf2{padding:40px 0;}
    .box-2{margin-bottom:0;}
    .box-1{margin-top:40px;}
    .box-1 figure,.box-2 .col-3,.box-p .detail,.box_caution .left{width:100%;}
    .box_caution .right{text-align: center;margin-top:30px;width:100%;}
    .inner-caution{margin-top: 20px;}
    .box_caution{padding:30px 0;}
    .box_caution .right img{width: 80%;}
    .box-1 .detail {
        width: 100%;
        margin: 0;
        padding: 20px;
        margin-bottom: 20px;
    }
    .img-vdo{
        height:auto;
        width:70%;
        float:none;
        margin:0 auto 30px auto;
    }
    .list-ppf .detail{padding-bottom:20px;}
    .img-vdo iframe{height:200px}
    .line-detail{font-size:10px;}
    .b-service .left,.r-input,.box-contact .left,.list-ppf .detail{width:100%;}
    .box-contact .right{width:100%;margin-top:40px;}
    .b-service .left figure{width:80%;margin:auto;}
    .b-service .right{width:100%;margin-top:15px;}
    .box-progress{margin:30px 0;}
    .line-p .b-yellow {display: block;}
    .inline-radio .left{width:50%;}
    .box-wish .product-name .name-p{min-height:0;}
    .label{width:30%;}
    .box-type .left, .inner-p{width:100%;}
    .box-type .right{width:100%;text-align:left;margin-top:20px;}
    .txt-b1{font-size:14px;}
    .status-delivery .c-left{width: 100%;}
    .status-delivery .c-right{width:100%;text-align:center;margin-top:20px;}
    .box-detail-history .right .col1{width:30%;}
    .box-detail-history {padding:20px;}
    .subtotal{padding:15px 0;margin-top:0px;text-align:center;background:#e7e9ea;}
    .b-payment{padding:10px 15px;}
    .topic h2{font-size:18px;}
    .inner-about-product figure{width:80%;}
    .product-list ul li{width:100%;}
    .product-list ul li figure{float:left;width:30%;}
    .product-list ul li .detail{float:right;width:65%;}
    .product-list ul li .b-gray {width:80px;font-size:10px;}
    .product-list ul li a:after{height:122%;}
    .product-list ul li .p-amount{text-align:left;}
    .title-cart ul li:nth-child(1){width:38%;}
    .title-cart ul li:nth-child(4),.title-cart ul li:nth-child(3){display:none;}
    .available {
        position: relative;
        display: block;
        bottom:0;
        left:0;
        margin:15px 0;
    }
    .product-name .name-p {
        min-height:auto;
        height:auto;
    }
    .col1{width:30%;}
    .col2{width:65%;}
    .box-shipping-address .right{width:100%;margin-top:15px;text-align:center;}
    .box-shop-admin ul li,.payment ul li{width:48%;}
    .payment ul li{height:120px;}
    .box-shop-admin ul li:nth-child(2n),.payment ul li:nth-child(2n){margin-right:0;}
    .box-shop-admin ul li:nth-child(3n){margin-right:2%;}
    .status-delivery ul li figure{width:30%;}
    .status-delivery ul li .detail{width:65%;}
    .c-form input, .c-form textarea,.w-30{width:85%;}
    .c-form input, .c-form textarea{margin-left:15px;}
    .box-wish .amount{margin-top:0;}
    .row-btn{text-align: center;margin-left: 0px;margin-top:25px;}
    .choose-discount{margin:40px 0;}
    .show_more, .show_less{
        position:relative;
        margin-top:20px;
        padding:10px 0;
        border-radius:10px;
        background:#efefef;
    }
    .top-banner{height:400px;}
    .caption-b p.head-banner{font-size:27px;}
    .caption-b h2{font-size:17px;}
    .img-ppf ul{width:100%;bottom:-34px;}
    .box_adhesive,.box-sole,.box-benefits ul{margin:40px 0;}
    .box-benefits ul li{width:46%;}
    .page-s-agent{padding-bottom:0;background:none;}
    .box-network{background:none;}
    .box-flow ul li{margin-bottom:20px;}
    .box-flow ul li .detail h2,.question-list ul li .detail h3,.topic-qa h3{font-size:13px;}
    .box-flow ul li figure{width:100%;}
    .box-flow ul li .detail{width:100%;margin-top:20px;}
    .box_location ul li{margin-bottom: 25px;}
    .box_location{margin-top:40px;}
    .box_category_qa ul li{width:47%;}
    .name-category{font-size:15px;}
    .col-4{width:48%;}
    .col-4:nth-child(2n){margin-right:0%;}
    .box-frequent{padding-top:20px;}
    .b-ppf {
        background: url(../images/banner-ppf.jpg) center left -200px;
        width: 100%;
        background-size: cover;
    }
    .popup{left:0;bottom:0;}
    .box-map img{width: auto;}
}
@media(max-width:512px){
    .box_about_ppf{padding-top:65px;}
    .box_section2 ul li{width:48%;}
    .price01 ul li:first-child {
        border-right:none;
        border-bottom:1px solid #dfdfdf;
        margin-right:0%;
        padding-right:0px;
        padding-bottom:10px;
    }
    .price01 ul li{
        float:left;
        width:100%;
        margin-bottom:15px;
    }
    .select-delivery ul li,.col,.payment ul li{width:100%;}
    .payment ul li{height:auto;}
    .product-list ul li:nth-child(n){margin-right:2%;}
    #breadcrumbs{margin:0px 0 20px;}
    .box-detail-product{margin-top:0px;}
    .container-page,.box-question,.box_category_qa{margin-top:30px;}
    .box-shop-admin ul{margin-top:40px;}
    .how-use ul li{width:47%;}
    .how-use ul li:nth-child(n){margin-right:4%}
    .how-use ul li:nth-child(2n){margin-right:0%}
    .box_recent_purchased{margin-bottom:20px;}
    .inline-radio .left{width:100%;}
    /*.list-recent ul li figure{width:30%;float:left;}
    .list-recent ul li .detail{width:65%;float:right;}*/
    .p-amount{text-align: left;}
    .list-recent .line-btn{text-align:center;margin:10px 0px;}
    .list-recent ul li .p-amount .price{float:none;display: inline-block;}
    .box-shop-admin ul li {width:100%;}
    .box-shop-admin .line{text-align: center;}
    #footer .footer-nav section h4 {font-size:13px;}
    .row-discount ul li:nth-child(2){width:80%;margin: 0 0px 0 35px;}
    .row-discount ul li:nth-child(3){width:100%;text-align: center;margin: 10px 0;}
    .col1,.col2,.box-detail-history .right .col1,.box-detail-history .right .col2,.product-category ul li{width:100%;}
    .name-p{font-size:12px;}
    .box-oversea{margin-top:15px;}
    .box_section3{padding-bottom:0;}
    .product-category ul li figcaption{padding:40px 15px;}
    .page-qa{padding:30px 0;}
}
@media(max-width:414px){
    .box_complete .left,.box-success .left{width:100%;text-align:center;margin-bottom:15px;}
    .box_complete .left img,.box-success .left img{width:120px;}
    .product-list ul li:nth-child(n){margin-right:0%;}
    .p-amount .price{float:none;display: inline-block;margin-left:10px;margin-right:10px;}
    .title-cart ul li:nth-child(1){width:50%;}
    .title-cart ul li:nth-child(2){width:50%;padding-left:20px;}
    .title-cart ul li:nth-child(3),.title-cart ul li:nth-child(4){width: auto;display: none;}
    .label{
        width:100%;
        background:#efefef;
        padding:10px 0 10px 10px;
    }
    .r-input,.box_complete .right,.box-success .right,.img-vdo{width:100%;}
    .box_complete .right div{text-align: center!important;}
    .type-car ul li{width:49%;margin-right:0;margin-bottom:15px;}
    .type-car ul li img{width: 80%;margin: auto;}
    .type-car{text-align:left;}
    .box-benefits ul li{width:100%;margin:0px 0px 10px 0}
    .box-benefits ul li figure img{width:130px;height:130px;}
    .b-map{padding:10px 15px;font-size:12px;}
    .box_category_qa ul li, .col-4{width:100%;}
    .c-gray {
        padding:8px 18px;
        margin-right:0px;
    }
}
@media(max-width:375px){
    
}
@media(max-width:335px){
    .m-inner .right a{font-size:10px;}
    .c-gray {
        padding:8px 9px;
    }
}