.menu-mobile {
  background: #efefef;
  border-radius:10px;
  margin:0px 0 20px;
  padding: 5px 10px;
  position: relative;
  display: none;
}
#content,
#content2{
  display: block;
  padding-top:20px;
  border-top: 1px solid #ddd;    
}
.menu-mobile #content{background: none;}
#content.mobile,
#content2.mobile {
  display: none;
}
header {
  padding: 10px 0;
}
header.header-mobile {
  border-bottom: none;
  cursor: pointer;
  padding:8px 8px;
}
.arrow {
  display: none;
}
.arrow img {
    width: 15px!important;
    height: 8px;
}
.header-mobile h3{font-size:15px;font-weight: 500;color:#00385b;}
.menu-mobile h3 img{width:16px;display:inline-block;margin-right:8px;}
header.header-mobile .arrow{
  position:absolute;
  display:inline-flex;
  right:10px;
  top:20px;
  margin: 0px 5px;
  transform: rotate(180deg); 
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  transform-origin: 50% 60%;   
    -ms-transform-origin: 50% 60%;
    -webkit-transform-origin: 50% 60%;    
}
header.header-mobile .arrow.flipped {
  transform: rotate(0deg); 
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  transform-origin: 50% 60%;   
    -ms-transform-origin: 50% 60%;
    -webkit-transform-origin: 50% 60%;
}
#stickThis{}
#stickThis{
    background:#fff;
    transition:all 0.5s;
}
#stickThis.stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width:100%;
    left: 0;
}
.menu-mobile{transition:all 0.5s;animation-duration: 0.2s;}
#stickThis.stick .menu-mobile{
    margin:0;
    border-radius:0px;
    animation:slide-down 0.2s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.stick .menu-mobile #content{
    position:fixed;
    z-index:99999;
    left:0;
    width:100%;
    height:100vh;
    padding:0px 0 10px;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    background:#edeeef;
    -webkit-box-shadow:0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow:0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    transition-delay:0s;
}
.stick .search{padding:20px 15px 0 15px;}
.stick .search button {
    right: 15px;
    top: 20px;
}
.menu-mobile .cart-total{padding: 20px 15px 0 15px}
@media (max-width: 990px){
    .menu-mobile{display:block;}
    .menu-mobile .col-left{
        display:block;
        max-width:100%;
        background:#efefef;
        float:none;
        margin-right:0;
    }
}