html{height:100%;}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box;
}
*:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{margin: 30px 0 60px;}
.col-left{
    width:100%;
    max-width:210px;
    margin-right:3%;
    float: left;
}
.col-left .search{
    width: 100%;
    margin-bottom:15px;
    position: relative;
}
.col-left .search input{
    border:1px solid #004ea1;
    padding:11px 15px;
    border-radius:20px;
    width:100%;
}
.search input::placeholder{color:#5d5d5d;font-family: "Montserrat", sans-serif;font-weight:500}
.search input::-webkit-input-placeholder{color:#5d5d5d;font-family: "Montserrat", sans-serif;font-weight:500}
.col-left .search button{
    border-radius:100%;
    width:40px;
    height:40px;
    background:#004ea1;
    position: absolute;
    right:0;
    top:0;
    color:#fff;
}
.col-left .search button img{width:16px!important;display:unset;}
#breadcrumbs{
    margin:20px 0;
    font-size:12px;
    color:#004ea1;
    font-weight:600;
    text-transform:uppercase;
}
#breadcrumbs a{
    color:#5d5d5d;
    font-weight:600;
    text-transform: uppercase;
}
#breadcrumbs span{font-weight:600;}
#breadcrumbs span a::after {
    content:"/";
    color:#5d5d5d;
    padding:0px 5px 0px 7px;
}
.box_menu{
    background:#efefef;
    border-radius: 15px;
    padding: 15px;
}
.a_menu{border-bottom: 1px solid #bebebe;padding-bottom: 10px;margin-bottom: 20px;}
.a_menu h3{
    color:#004ea1;
    font-weight: 600;
    font-style:italic;
    margin-bottom:5px;
    position: relative;
}
.a_menu h3:after {
    position: absolute;
    top: 50%;
    right:0px;
    width: 0;
    height: 0;
    padding: 0;
    margin-top: -2px;
    pointer-events: none;
    content: "";
    border-top: 5px solid #f9bd00;
    border-right:5px solid transparent;
    border-left: 5px solid transparent;
}
.a_menu ul{margin-left:15px;}
.a_menu ul li{padding:5px 0;position:relative;z-index:1;}
.a_menu ul li:hover:after{
    position:absolute;
    top:50%;
    left:-14px;
    z-index: 0;
    width: 107%;
    height: 30px;
    margin-top:-16px;
    content: "";
    background: #f9bd00;
    border-radius:20px;
}
.a_menu ul > li a{font-size:13px;font-weight:500;position: relative;z-index:1;}
.a_menu ul > li a:before {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 5px;
    height: 5px;
    content: "";
    background: #f9bd00;
    border-radius: 50%;
    transform: translateY(-50%);
}
.a_menu label{font-family: "Montserrat", sans-serif;font-weight:500;}
.m-checkbox ul{margin-left:0px;}
.m-checkbox ul > li:hover:after{
    background:none;
    z-index:auto;
    position: static;
}
.content{
    float:right;
    width: -webkit-calc(100% - 260px);
    width: -moz-calc(100% - 260px);
    width: calc(100% - 260px);
}
.content .headline .title{text-align:left;}
.product-list{margin:40px 0 0 0}
.product-list ul li{
   float: left;
   width: 22.7%;
   margin-right: 3%;
}
.product-list ul li{
    position: relative;
    z-index: 999;
    display: block;
    margin-bottom:30px;
}
.product-list ul li a:after{
    position: absolute;
    width: 118%;
    height: 110%;
    content: '';
    display: block;
    top: -20px;
    z-index: -1;
    left: -20px;
    transition:all 0.4s;
    background:rgba(247,247,247,0);
}
.product-list ul li a:hover:after{
    background:rgba(247,247,247,1);
}
.product-list ul li:nth-child(4n){margin-right:0;}
.product-list ul li figure{
    border:1px solid #b0bdc6;
    margin-bottom:15px;
}
.product-list ul li .detail{}
.name-p{
    font-size:14px;
    font-weight:600;
    color:#4f555b;
    font-family:'Oswald', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}
.quantity{
    font-size:12px;
    margin-top:10px;
    font-weight:500;
}
.p-amount{margin:8px 0 8px;}
.p-amount .price{float:right;color:#b12704;font-weight:600;letter-spacing:1px;}
.b-gray{
    font-weight:600;
    background:#b0bdc6;
    font-size:12px;
    color:#00385b;
    width:90px;
    text-align:center;
    padding:4px 0px;
    border-radius: 15px;
    display:inline-block;
}
#pagination{text-align: center;margin-top: 50px;}
#pagination ul li.active {
    background: #004ea1;
    padding:6px 14px;
    color: #fff;
}
#pagination ul li {
    display: inline-block;
    padding:6px 12px;
    background: #d4d4d4;
    width: auto;
    font-weight: 500;
    color: #004ea1;
    border-radius:5px;
    margin-right:5px;
}
.previous,.next{background:none!important;position:relative;}
.previous a {
    position: absolute;
    left: -10px;
    top: 0;
}
.next a {
    position: absolute;
    right: -10px;
    top: 0;
}
.previous a img,.next a img{width:25px;}
.box-content{
    float:left;
    width:-webkit-calc(100% - 270px);
    width:-moz-calc(100% - 270px);
    width:calc(100% - 270px);
}
.title-cart{
    margin:15px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom:15px;
}
.title-cart ul{letter-spacing:-4em;}
.title-cart ul li{letter-spacing:0;text-align:center;}
.title-cart ul li .b-gray {
    padding: 7px 20px;
    width: auto;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size: 14px;
    border-radius: 20px;
}
.title-cart ul li:nth-child(1){display:inline-block;width:20%;text-align: left;}
.title-cart ul li:nth-child(2){
    display:inline-block;width:40%;
    text-align: left;
}
.title-cart ul li:nth-child(3){
    display:inline-block;width:10%;
}
.title-cart ul li:nth-child(4){
    display:inline-block;width:30%;
}
.txt-b1{font-size:16px;color:#004ea1;font-weight:600;}
.txt-b2{font-size:14px;color:#00385b;font-weight:600;}
.pic-product{}
.pic-product img{border:1px solid #c8c8c8;border-radius:5px;}
.list-cart{}
.list-cart li{padding:15px 15px;}
.list-cart li:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.c1{float: left;width:17%;}
.c2{float: right;width:80%;}
.pic-product{float:left;width:100%;}
.product-name{float:left;width:50%;position:relative;}
.product-name .name-p{min-height:135px;height:100%;}
.available span{font-size:11px;letter-spacing:1px;}
.available p{font-weight:600;color: #2dc000;}
.available{
    position:absolute;
    display:block;
    bottom:0;
    left:0;
}
.amount{float:left;width:12%;text-align: center;}
.amount select{width:60%;}
.txt-red{
    color:#b12704;
    font-weight:600;
    letter-spacing:1px;
    font-size:16px;
}
.box-price{float:left;width:37%;padding-left:5%;}
.box-price .txt-red{text-align:right;padding:0px 0 5px;}
.row{overflow: hidden;margin-bottom:5px;}
.row span{font-size: 12px;font-weight:600;}
.row span.import{float:left;}
.row span.tax{float:right;}
.bg-gray{background:#f7f7f7;}
.subtotal{float:right;margin:20px 0;text-align:right;width:100%;}
.subtotal span{display:inline-block;font-weight:600;}
.subtotal p{display:inline-block;margin-left:3%;}
.b-domestic{
    font-weight:600;
    background:#b0bdc6;
    font-size:14px;
    color:#00385b;
    padding:7px 20px;
    width: auto;
    box-shadow:2px 2px 8px #dfdfdf;
    font-size:14px;
    border-radius:20px;
    text-align:center;
    padding:7px 20px;
    border-radius:15px;
    display:inline-block;
    margin-right:40px;
}
.d1{margin-bottom:20px;}
.txt-delivery{
    font-size: 16px;
    color: #004ea1;
    font-weight: 600;
}
.box-select-delivery{border-bottom: 1px solid #d4d4d4;}
.select-delivery{}
.select-delivery ul li{width:31%;float:left;position:relative;margin-right:3%;}
.select-delivery ul li:nth-child(3n){margin-right:0%;}
.select-delivery ul li input[type=radio] {
    position: absolute;
    top:34px;
    z-index: 999;
    left: 20px;
}
.select-delivery ul li label{
    position: relative;
    display: block;
    padding:15px 0px 15px 55px;
    width:100%;
    border-radius: 5px;
    background:#fff;
    border: 1px solid #d4d4d4;
    margin: 10px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    box-shadow: 2px 2px 8px #dfdfdf;
}
.select-delivery ul li label p{font-weight:600;font-size:17px;}
.select-delivery ul li label span{display:block;margin-bottom:10px;}
.box-oversea{margin-top:50px;}
.col-right{
    width:100%;
    max-width:230px;
    float:right;
}
.p-shipping{
    border-radius:15px;
    background:#fff;
    box-shadow: 2px 2px 10px #dfdfdf;
}
.total-domestic{
    border-radius:15px 15px 0 0;
    background:#edeeef;
    color:#4f555b;
}
.total-domestic figure{text-align:center;}
.total-domestic img{width:50px;display:inline-block;margin-top:-22px;}
.d2{padding:10px 15px;}
.d2 p{font-style:italic;font-size:14px;font-weight:600;}
.d2 .b-gray{margin-bottom:5px;box-shadow:2px 2px 8px #dfdfdf;}
.col-right ul.list-items{padding:0px 15px;}
.col-right .total{
    background:none;
    border-radius:0px 0px 15px 15px;
    padding:15px 15px;
    font-size:16px;
    color:#000;
}
.col-right .total p{font-weight:600;font-style:italic;}
.total-oversea{
    background:#edeeef;
    color:#4f555b;
    padding-top:5px;
}
.b-payment{
    background:#eaad03;
    border-radius:0px 0px 15px 15px;
    padding:10px 15px;
    color:#fff;
    font-size:16px;
    font-weight:600;
}
.b-payment img{
    width:30px;
    display:inline-block;
    margin-left:10px;
}
.cart-total .total{background:none;color:#000;}
.cart-total .total p{font-weight:600;}
.cart-total .b-payment{
    border-radius:0;
    text-align:center;
    margin-bottom:10px;
}
.cart-total .d2{padding:0px;}
.box_recent_purchased{margin:50px 0;}
.topic{}
.topic p{
    margin:0 auto 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    font-weight: 700;
    line-height: 1.3;
    color: #004ea1;
    letter-spacing: 1px;
    position:relative;
    padding-left:20px;
}
.topic p:before{
    width:8px;
    border-right:4px solid #f9bd00;
    height:35px;
    background:#004ea1;
    content:'';
    position:absolute;
    left: 0;   
}
.topic h2{
    margin:12px auto 0;
    color:#5d5d5d;
    font-size:16px;
    letter-spacing: 0.01em;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.list-recent{margin: 30px 0;}
.list-recent ul li figure img{
    border: 1px solid #b0bdc6;
    margin-bottom: 15px;
}
.list-recent ul li{
    float:left;
    width:17.5%;
    margin-bottom: 15px;
    margin-right:3%;
}
.list-recent ul li:nth-child(5n){margin-right:0%;}
.list-recent .line-btn{margin-top:15px;margin-bottom:15px;}
.b-cart{
    display:inline-block;
    text-align:center;
    padding:5px 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size:13px;
    font-weight:500;
    color:#ffffff;
    background:#eaad03;
    border:none;
    box-shadow:0px 0px 4px 2px #dfdfdf;
}
.b-cart img{width:20px;display:inline-block;}
.list-recent .b-gray {
    font-weight:600;
    background:#b0bdc6;
    font-size:10px;
    color:#00385b;
    width:70px;
    text-align:center;
    padding:4px 0px;
    border-radius:15px;
    display:inline-block;
}
.box_recent_view{margin-bottom:30px;}
.box-detail-product{margin: 40px 0;}
.box-detail-product .left{width:45%;float:left;}
.box-detail-product .right{width:50%;float:right;}
.detail-product{}
.detail-product .name-p{font-size:18px;}
.detail-product ul{margin:10px 0 10px 15px;}
.detail-product ul li{margin-bottom:7px;list-style:disc;}
.id{margin:15px 0;font-weight:500;}
.box-detail02{margin:15px 0 10px;}
.box-detail02 p.head{color:#004ea1;font-weight:600;font-size:15px;}
.box-detail02 p{font-weight:600;}
.price01{}
.price01 .b-gray {
    font-size:11px;
    width:auto;
    padding:3px 15px;
}
.price01 ul li{float:left;width:48%;}
.price01 ul li:first-child{
    border-right:1px solid #dfdfdf;
    margin-right:2%;
    padding-right:15px;
}
.amount01{margin:10px 0;}
.amount01 span{
    font-weight:500;
    float:left;
    width:40%;
    margin-right:2%;
    padding-top:5px;
}
.amount01 span select{width:58%;display:inline-block;}
.col-cart{float:right;}
.table-responsive {
    min-height:.01%;
    margin:0px auto 0px auto;
}
.table {
    width:100%;
    max-width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}
.table > tbody > tr:nth-child(1){
    border-top: 1px solid #aeaeae;
}
.table > tbody > tr > td:first-child{font-weight: 600;position: relative;padding-left:20px;}
.table > tbody > tr > td:first-child:before {
    position:absolute;
    left:5px;
    top:3px;
    bottom:1px;
    font-family:"icomoon";
    font-size:12px;
    font-weight: 600;
    color: #5d5d5d;
    content: "\e905";
    transform:rotate(-90deg);
}
.table > tbody > tr > td:first-child:after{
    position: absolute;
    right:15px;
    top:7px;
    font-size:12px;
    font-weight:600;
    color:#5d5d5d;
    content:":";
}
.table > tbody > tr > td {
    padding:7px 5px;
    color:#575756;
    font-size:13px;
    border-bottom:1px solid #aeaeae;
}
.product-information{margin:30px 0;}
.vdo{}
.videoWrapper {
    position: relative;
    padding-bottom:46.25%;
    padding-top:25px;
    height:0;
    margin:20px auto 0 auto;
    width:100%;
}
.videoWrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.box-about-product{}
.box-about-product h2{color:#004ea1;text-align:center;font-size:22px;font-weight:600;margin-bottom:25px;}
.pic-intro{width:60%;margin:auto;}
.pic-intro img{border:10px solid #004ea1;box-shadow:0px 0px 5px 3px #dfdfdf;}
.inner-about-product{margin:40px 0 0;}
.h-title{}
.h-title h3{
    color:#004ea1;
    font-size:18px;
    font-weight:700;
    margin-bottom:20px;
    border-bottom:5px solid #b0bdc6;
    padding-bottom:10px;
    position:relative;
}
.h-title h3:after{
    width:25%;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    background:#004ea1;
}
.h-title h3:before{
    width:7px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    background:#eaad03;
    z-index:9;
}
.txt-bule{
    color:#004ea1;
    font-weight:600;
    font-size:15px;
}
.inner-about-product img{margin:20px 0 25px 0; border-radius:15px;box-shadow:0px 0px 5px 3px #dfdfdf;}
.inner-about-product figure{width:70%;margin:auto;}
.inner-about-product p{margin-bottom:10px;}
.how-use{margin:30px 0 0;}
.how-use ul li{float:left;width:30%;margin-right:5%;margin-bottom:15px;}
.how-use ul li p{line-height:17px;margin-top:15px;}
.how-use ul li p span{font-weight:700;color:#004ea1;}
.how-use ul li:nth-child(3n){margin-right:0;}
.how-use ul li img{margin:0;}
.box-recent-items{
    margin: 30px 0;
}
.box-recent-items ul li{margin-bottom: 15px;}
.box-recent-items ul li:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box-recent-items ul li figure{float: left;width: 45%;}
.box-recent-items ul li figure img{border: 1px solid #d4d4d4;}
.box-recent-items h3 {
    color: #004ea1;
    font-size:14px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
.box-recent-items ul li p{float: right;width:50%;}
.box-recent-items ul li p.name-p{font-size:12px;}
.product-cart-list{
    border-radius: 15px;
    background: #edeeef;
    color: #4f555b;
}
.fixed-header {
    width:230px;
    position:fixed;
    background:#004ea1;
    right:0;
    top:28%;
    z-index: 9999;
}
.product-cart-list p.name-p{padding:15px;background:#edeeef;border-radius: 15px 15px 0 0;}
.product-cart-list .p-amount{padding: 0px 10px 0 10px;margin: 0;}
.product-cart-list .b-gray{
    margin-bottom: 5px;
    box-shadow: 2px 2px 8px #dfdfdf;
}
.product-cart-list .line-btn {
    background:#edeeef;
    margin:0px;
    padding:15px 0;
}
.price-shipping{background:#fff;padding:15px 0 10px;}
.price-shipping ul.list-items li:last-child{border-bottom:none;}
.title-page{border-bottom: 1px solid #d4d4d4;padding-bottom:20px;}
.container-page {
    margin:60px 0 60px;
}
.txt-green{
    color:#007f33;
    font-weight: 600;
    font-size: 15px;
}
.box-shop-admin{margin:30px 0;}
.b-yellow{
    display:inline-block;
    padding:8px 30px;
    color:#00385b;
    background:#f8bc00;
    box-shadow: 2px 2px 8px #dfdfdf;
    font-size:15px;
    border-radius:30px;
    font-weight:700;
}
.box-shop-admin ul{margin-top:70px;}
.box-shop-admin ul li{
    position: relative;
    float: left;
    width:23%;
    height:150px;
    padding:20px 12px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #d4d4d4;
    margin: 10px auto;
    text-align: center;
    box-shadow: 2px 2px 8px #dfdfdf;
    margin-right:2%;
}
.box-shop-admin ul li:last-child{margin-right:0;}
.box-shop-admin ul li figure{
    position: absolute;
    text-align: center;
    width:100%;
    top:-25px;
    left:0;
}
.box-shop-admin ul li figure img{width:50px;}
.box-shop-admin ul li p.title{
    font-size:16px;
    margin: 20px 0 5px 0;
    font-weight: 600;
    color:#00385b;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.box-shop-admin ul li p{font-weight:500;line-height:22px;}
.box-question{margin:50px 0;}
.inner-q{margin:40px 0 0 0}
.col{width:22%;float:left;margin-right: 3%;margin-bottom: 15px;}
.col:nth-child(4n){margin-right:0%;}
.col h3{
    margin: 0 auto 20px auto;
    font-size:16px;
    font-weight:700;
    line-height: 1.3;
    font-style: italic;
    color: #004ea1;
    letter-spacing: 1px;
    position: relative;
}
.col h3:after {
    content: "";
    display: block;
    height: 5px;
    width:30px;
    border-bottom: 3px solid #f4b800;
    margin: 5px 0 10px 0;
}
.col ul li{
    position: relative;
    margin-bottom:10px;
}
.col ul{margin-left: 15px;}
.col ul > li a:before {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 5px;
    height: 5px;
    content: "";
    background: #f9bd00;
    border-radius: 50%;
    transform: translateY(-50%);
}
/*-----------------------@media----------------------------*/
@media(min-width:1200px){

}
@media(min-width:991px) and (max-width:1200px){
    .product-list ul li{width:31%;}
    .product-list ul li:nth-child(n){margin-right:3%!important;}
    .product-list ul li:nth-child(3n){margin-right:0!important;}
    .price01 ul li {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .price01 ul li:first-child {
        border-right:none;
        border-bottom: 1px solid #dfdfdf;
        margin-right: 0%;
        padding-right: 0px;
        padding-bottom: 10px;
    }
}
@media(max-width:990px){
    .col-left{display:none;}
    .col-right .p-shipping{display:none;}
    .col-right{max-width: 100%;}
    .content,.box-content{width:100%;}
    .container,.box-recent-items{margin-top:0px;}
    .box-shop-admin ul li {width:32%;margin-bottom:40px;}
    .box-shop-admin ul li:nth-child(3n) {margin-right: 0;}
    .col:nth-child(n) {margin-right:2%;}
    .col{width: 31%;}
}
@media(max-width:812px){
    .list-recent ul li{width:31%;}
    .list-recent ul li:nth-child(3n){margin-right:0%;}
}
@media(max-width:768px){   
    .product-list ul li{width:47%;margin-right:4%;}
    .product-list ul li:nth-child(2n), .select-delivery ul li:nth-child(2n){margin-right:0;}
    .select-delivery ul li{width: 48%;}
    .box-detail-product .left,.box-detail-product .right{width:100%;}
    .box-detail-product .right{margin-top:30px;}
    .container{margin-bottom:20px;}
    #footer {background: #f7f7f7 url(../images/bg_polygon03.png) repeat-x center top;}
    .col{width:48%;}
}
@media(max-width:667px){
    .subtotal{margin:15px 0;}
    .b-payment{padding:10px 15px;}
    .topic h2{font-size:14px;}
    .inner-about-product figure{width:80%;}
    .product-list ul li{width:100%;}
    .product-list ul li figure{float:left;width:30%;}
    .product-list ul li .detail{float:right;width:65%;}
    .product-list ul li .b-gray {width:80px;font-size:10px;}
    .product-list ul li a:after{height:122%;}
    .product-list ul li .p-amount{text-align:left;}
    .title-cart ul li:nth-child(1){width:38%;}
    .title-cart ul li:nth-child(4),.title-cart ul li:nth-child(3){display:none;}
    .available {
        position: relative;
        display: block;
        bottom: 0;
        left: 0;
        margin: 15px 0;
    }
    .product-name .name-p {
        min-height:auto;
        height: auto;
    }
    .c1 {width:30%;}
    .c2{width:65%;}
    .box-price,.amount,.product-name{width:100%;padding-left:0;}
    .amount{text-align:left;}
    .box-price .txt-red{text-align:left;margin-top:10px;}
    .box-shop-admin ul li {width:48%;}
    .box-shop-admin ul li:nth-child(2n){margin-right:0;}
    .box-shop-admin ul li:nth-child(3n){margin-right:2%;}
}
@media(max-width:512px){
    .price01 ul li:first-child {
        border-right:none;
        border-bottom:1px solid #dfdfdf;
        margin-right:0%;
        padding-right:0px;
        padding-bottom:10px;
    }
    .price01 ul li{
        float:left;
        width:100%;
        margin-bottom:15px;
    }
    .select-delivery ul li,.col{width:100%;}
    .list-recent ul li{width:47%;}
    .product-list ul li:nth-child(n){margin-right:2%;}
    #breadcrumbs{margin:0px 0 20px;}
    .box-detail-product{margin-top:0px;}
    .container-page,.box-question{margin-top:30px;}
    .box-shop-admin ul{margin-top:40px;}
    .how-use ul li{width:47%;}
    .how-use ul li:nth-child(n){margin-right:4%}
    .how-use ul li:nth-child(2n){margin-right:0%}
    .box_recent_purchased{margin-bottom:20px;}
    .list-recent ul li{width:100%;}
    .list-recent ul li figure{width:30%;float:left;}
    .list-recent ul li .detail{width:65%;float:right;}
    .p-amount{text-align: left;}
    .list-recent .line-btn{text-align: left;margin:8px 0px;}
    .list-recent ul li .p-amount .price{float:none;display: inline-block;}
    .box-shop-admin ul li {width:100%;}
    .box-shop-admin .line{text-align: center;}
    #footer .footer-nav section h4 {font-size:13px;}
}
@media(max-width:414px){
    .product-list ul li:nth-child(n){margin-right:0%;}
    .p-amount .price{float:none;display: inline-block;margin-left:10px;margin-right:10px;}
    .title-cart ul li:nth-child(1) {width:50%;}
    .title-cart ul li:nth-child(2) {width:50%;padding-left:20px;}
    .title-cart ul li:nth-child(3),.title-cart ul li:nth-child(4){width: auto;display: none;}
}
@media(max-width:375px){
    
}
@media(max-width:328px){  
}