@charset "UTF-8";
@import "settings";

body.open {
  overflow: hidden;
}

/* ----------------------------------------------------------   
   .header-form
   ---------------------------------------------------------- */
.header-form{
  width: 550px;
  padding: 45px 40px;
  background: #fafbfc !important;
  border-radius: 12px;
}
.cl-group {
  list-style:none;
  padding:0;
  margin:0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li{
    background: #fafbfc;
    border-width: 2px;
    color: #b5a8c5;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    float: left;
    padding: 0.37rem 1.25rem;
    position: relative;
    width: 50%;
    text-align: center;

    background-color: transparent;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 30;
    a {
      display:block;
      text-decoration:none;
      color: #003c68;
      padding:15px;
      width:100%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
      font-family: 'Roboto Condensed', sans-serif;
      letter-spacing: 1px;
      span{
        font-size:17px;
        font-weight: 700;
      }
      span:first-child{
        margin-right: 9px;
        font-weight: 500;
      }
    }
    &.active{
      background: #ffffff;
      border-top: 1px solid rgba(93,93,93,0.3);
      border-right: 1px solid rgba(93,93,93,0.3);
      border-left: 1px solid rgba(93,93,93,0.3);

      &:after{
        background-color: #fff;
      }
    }
    &.active a {
      color: $color01;
    }
  }
}

.form-content > div:last-child {
  display:none;
}
.form-content{
  margin-bottom: 25px;
  .lead{
    color: #5d5d5d;
    margin: 0 0 25px;
  }
  label{
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #5d5d5d;
    margin: 0 0 10px 0;
    letter-spacing: 0.3px;
  }
  .user-input{
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 30px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    color: #5d5d5d;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid rgba(93,93,93,0.3);
    -moz-appearance: none;
    appearance: none;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .sign-in-btn{
    width: 80%;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.7px;
    background: $color02;
    border: none;
    margin: 12px 10% 0;
    box-shadow: 0px 0px 5px 3px #dfdfdf;
    font-family: 'Roboto Condensed', sans-serif; 
  }
}
.header-form{
  .note{
    font-size: 12px;
    color: #5d5d5d;
    letter-spacing: 0;
    + .note{
      margin: 8px 0 0;
    }
    a{
      color: $color01;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.form-content-inner{
  border: 1px solid rgba(93,93,93,0.3);
  background: #fff;
  padding: 30px 55px 50px;
}
@media (max-width: 700px) {
  .form-content-inner{
    padding: 25px 25px 50px;
  }
  .form-content{
    .sign-in-btn{
      margin: 10px 15% 0;
      width: 70%;
    }
    .lead{
      margin: 0 0 18px;
    }
    .user-input{
      margin: 0 0 20px;
    }
  }
  .cl-group{
    li{
      a{
        padding: 14px 10px 8px;
        span{
          font-size: 17px;
          &:first-child{
            margin-right: 6px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .form-content-inner{
    padding: 20px 20px 32px;
  }
  .form-content{
    margin-bottom: 15px;
  }
}

/* ----------------------------------------------------------   
   .header-search-pop
   ---------------------------------------------------------- */
.header-search-pop{
  width: 550px;
  padding: 45px 55px !important;
  background: #fafbfc !important;
  border-radius: 12px;
  .ttl{
    color: $color01;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
    line-height: 1.5;
    margin: 0 0 5px;
  }
  .lead{
    margin: 0 0 40px;
    color: #5d5d5d;
    text-align: center;
  }
  .serch-btn{
    width: 60%;
    height: 50px;
    text-align: center;
    background: $color01;
    position: relative;
    margin: 40px auto 0;
    button{
      background: $color01;
      display: table-cell;
      height: 100%;
      width: 100%;
      letter-spacing: 0.7px;
      border-bottom: 4px solid #b0bdc6;
      font-family: 'Montserrat', sans-serif; 
    }
    span{
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      position: relative;

      &.ico-glass{
        position: absolute;
        right: 8%;
        top: 50%;
        font-size: 18px;
        margin-top: -11px;

      }
    }
  }
}
.search-list{
  clear: both;
  overflow: hidden;
  margin: 0 -14px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid $color01;
  li{
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    float: left;
    border-bottom: 35px solid transparent;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    span{
      display: block;
      padding-right: 8px;
      text-align: left;
      padding: 0 0 0 32px;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 500;
      color:  rgba(93,93,93,1);
      letter-spacing: 0.5px;
      &.icon-model{
        padding: 0 0 0 34px;
      }
      &:before{
        left: 4px;
        top: 0;
        margin-top: 0px;
        position: absolute;
        font-size: 16px;
        font-family: "icomoon" !important;
      }
    }
    form{
      display: block;
      width: 100%;
      border: 1px solid rgba(93,93,93,0.2);
      position: relative;
      margin: 15px 0 0;
      background: #ffffff;
      &:after{
        position: absolute;
        top: 50%;
        right: 16px;
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -2px;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color01;
        pointer-events: none;
      }
    }
    select{
      width: 100%;
      padding-right: 1em;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      font-size:14px;
      border: none;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 10px 20px 10px 15px;
      color: #4d4d4d;
      font-family: 'Montserrat', sans-serif; 
      font-weight: 500;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }
}

/* ----------------------------------------------------------   
   .language-select
   ---------------------------------------------------------- */
.language-select{
  width: 320px;
  padding: 35px 30px !important;
  box-sizing: border-box;
  background: #fafbfc !important;
  border-radius: 12px;
  li{
    position: relative;
    padding: 16px 0 17px 10px;
    width: 100%;
    label{
      font-family: 'Montserrat', sans-serif; 
      color: #5d5d5d;
      padding: 14px 50px 14px 9px;
      font-size: 15px;
      letter-spacing: 0.3px;
    }
    input{
      position: relative;
      top: -1px;
    }
    &:before{
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 82%;

      left: 11%;
      height: 1px;
      background: rgba(93,93,93,0.3);
      line-height: 1;
    }
    &:hover{
      &:after{
        display: block !important;
        content: "";
        height: 38px;
        background: $color01;
        border-radius: 4px;
        width: 90%;
        position: absolute;
        left: 3px;
        top: 50%;
        margin-top: -19px;
        z-index: 0;
      }
      label{
        color: #ffffff;
        position: relative;
        z-index: 1;
      }
      input{
        position: relative;
        z-index: 1;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}


   